[2016-05-03 16:37] vtdrusch opened #1 "Update Slides"
Update presentation slides for the presentation this Sunday, May 8.

[2016-05-03 18:07] skuhl opened #2 "Decide on license and apply it to repo+code"
We need to decide on an open source license and add the license to the repository and add a note about the license to each source file.

[2016-05-03 18:09] skuhl opened #3 "Consider adding sounds"
Adding some motor-like sounds might be nice. Very low priority.

[2016-05-03 18:12] skuhl opened #4 "Change RoboSim -> RobotRun everywhere"
Update code and documentation!

[2016-05-03 18:17] skuhl opened #5 "Fix inverse kinematics"
Scott will provide a quick tutorial after you feel like you have an idea for how code that controls the robot arm.

[2016-05-03 19:56] #4 closed, assigned to nobody

[2016-05-04 15:34] neoaero99 commented on #5
Would fixing inverse kinematics make the robot more precise? I have noticed that the robot is not very precise in appoarching a point you stored for a program.

[2016-05-04 15:37] neoaero99 opened #6 "Fix Zoom Buttons"
Currently when the gui is hidden the zoom buttons do not function

[2016-05-04 15:39] vtdrusch commented on #5
I think that those are probably unrelated issues, since returning to a
stored position should just be a matter of setting the joint positions to
be the stored values. If there's a difference between the values being
stored and the position of the robot, there's probably an issue with the
saving or loading of positional data.
On May 4, 2016 11:35 AM, "Neo Aero" notifications@github.com wrote:

[2016-05-04 15:39] neoaero99 opened #7 "Modify the Program Name Input Method"
Siddharth mentioned that being able to type a name in for a program with the keyboard would be useful.

[2016-05-04 15:43] skuhl commented on #5
Inverse kinematics tries to efficiently search for a set of joint angles which will get the end effector "close enough" to where it is supposed to be. The programmer gets to define "close enough" and making it be really, really close to accurate increases the computational cost. I know that they way that James implemented it is similar, you should be able to find the "close enough" hardcoded value

[2016-05-04 15:45] skuhl opened #8 "Figure out how to load a simple CAD model"

[2016-05-04 15:49] skuhl opened #9 "Identify list of scenarios"
We need to work with Alex/Siddharth to identify what kinds of scenarios we want to be able to load up in the software. Then, we need to prioritize that list and find one that seems both easy to implement and useful from an educational standpoint.

[2016-05-04 15:50] skuhl opened #10 "Don't allow robot arm to self intersect"

[2016-05-04 15:56] #6 closed, assigned to nobody

[2016-05-04 16:02] vtdrusch commented on #8
I haven't examined all the details of the model loading process yet, but from a cursory examination of the system, it looks like model loading should be fairly straightforward for any STL file. I'm going to experiment with an STL model of a cube I found online.

[2016-05-04 16:19] skuhl opened #11 "Robotic arm should be able to pick up a cube"
A simple implementation at first should be fine. I.e., is the claw at the cube and is it closed? If so, then the cube is picked up. Alternatively, we could explore options to add existing physics engines to the software. I think we may be able to avoid using a full-blown physics simulator.

[2016-05-04 16:25] skuhl commented on #9
One scenario that seems like a candidate to both easy and useful: Pick up an object with the arm and put it in a box.

[2016-05-04 17:34] vtdrusch commented on #8
I've managed to successfully load a cube model into the program environment. The cube currently is not animated and doesn't interact with the robotic arm at all, but it is apparently loaded and rendered correctly. The next major hurdle here will be implementing some kind of physics properties on these models.

[2016-05-04 17:34] #8 closed, assigned to nobody

[2016-05-05 02:47] skuhl commented on #8
Great! You may also want to confirm that we can get the files that are going to be created for us (or maybe by us?) into this format. Another thing to watch out for is that the units are correct (i.e., it is scaled to the right size and/or uses the right units) and that the origin of the model is where we expect it to be.

[2016-05-05 12:11] #7 closed, assigned to nobody

[2016-05-05 19:26] vtdrusch opened #12 "Application not closing properly"
The application throws some kind of error when closed using the window close ("X") button. The problem seems to be related to some rendering thread or process not being shut down properly when closing the application this way. For some reason, this method of exiting the application does not properly dispose of all components being used.

I've found that the problem is not present in the older 2.x

[2016-05-05 21:08] skuhl commented on #12
Are there any reports from other people online having the same problem? Do other (simple) Processing3 applications have this problem?

[2016-05-05 21:28] vtdrusch commented on #12
I've been researching the issue and haven't managed to track down anything
particularly illuminating, but I'll continue looking into it for the time
being. So far, it appears that closing the program window specifically by
pressing the window exit button doesn't call the correct disposal methods,
while using the escape key seems to call these methods and does close the
application properly.
On May

[2016-05-06 01:46] skuhl opened #13 "Add end effector offset"
I seem to recall Alex or someone mentioning that we will need to adjust the actual location of the end effector based on the effector that is attached to the robot. It sounded like this should be configurable by the user. We need to collect more information and figure out exactly how this works and maybe consider drawing a little red dot where the actual end effector supposedly is so people can se

[2016-05-06 01:56] skuhl commented on #12
Does calling exit() or similar from the code cause it to exit successfully? If so, then maybe you can hook onto the window handler, have it call your code, and call exit() in your code? Or, if you really get stuck, it might be worth asking a question on an appropriate forum or something.

[2016-05-06 02:51] vtdrusch commented on #12
The exit() function does correctly close the application, and much of my
efforts have been focused on trying to figure out how to capture the frame
event generated by pressing the close button so that I can include this
call. Unfortunately, it isn't entirely clear how to do this in Processing3.

As best I can tell, the "main" class, RobotRun, is an extension of the
class PApplet, and while it used

[2016-05-06 12:52] neoaero99 commented on #10
For the most part, the robot cannot intersect with itself due to joint restrictions and calculating the distance that the end effector is away from a rough center point of the robot's base. However, depending on what the end effector is and how we implement the end effector displacement, the robot may be able to self-intersect again.

[2016-05-06 12:52] #10 closed, assigned to neoaero99

[2016-05-08 12:57] skuhl opened #14 "Highlight buttons when a joint is moving"
When a person is adjusting a joint angle, the user has to press a button to start moving a joint and press it again to stop. The button should be highlighted when the robot is moving so that the user knows which button they need to hit again to make it stop moving.

[2016-05-08 13:01] skuhl opened #15 "Show a red dot where the specified world coordinate is"
We should show a red dot where the goal end effector position is. This is useful so that we can verify that IK is working. It would also allow the user to easily see if they trying to move the end effector beyond the reach of the robot.

[2016-05-08 13:02] skuhl opened #16 "Draw a coordinate system"
We should draw a coordinate system on the "ground". I.e., draw a textured quad or draw a bunch of lines to form a grid. The end effector position could be projected down onto that grid---making it easier for people to see where the end effector is.

[2016-05-08 13:05] skuhl opened #17 "Limit camera movements"
We need to limit the camera movements. Maybe always point the camera at the robot, and always have it be a certain distance from the robot---and let the camera rotate somewhere on a sphere.

[2016-05-08 13:06] skuhl opened #18 "Add a message about disabling camera movement"
When a user is moving the camera, there is no UI for them to know that they need to click to stop moving the camera.

[2016-05-08 13:07] skuhl opened #19 "UI: Put pendant+text on left side of screen"
I think we should make the UI be a column on the left side and a robot view on the right side.

[2016-05-08 13:10] skuhl opened #20 "Programs: Scrolling when creating points"
When you create a new point, the screen "scrolls" so that you can't see your previous point. There UI should show all of the points unless you ran out of room to show the points on the screen.

[2016-05-08 13:12] skuhl opened #21 "Text and buttons should be larger"
The text and buttons on the pendant should be larger.

[2016-05-08 13:12] skuhl opened #22 "Backward button should run program in reverse"

[2016-05-08 13:15] skuhl opened #23 "Remove unnecessary files/directories"
We should remove any files or folders from the repository that we don't think we need (we can always get them from the git history if we really want them).

[2016-05-08 13:17] skuhl opened #24 "Sort programs alphabetically"

[2016-05-08 13:20] skuhl opened #25 "Implement additional program instructions"

[2016-05-08 13:37] skuhl commented on #18
Or implement click and drag.

[2016-05-08 13:39] skuhl commented on #17
If we implemented this, we probably do not need rotate button and a pan button.

[2016-05-08 13:39] skuhl opened #26 "Camera: Clamp zooming"
Don't let the user zoom too far in or out.

[2016-05-08 13:43] skuhl opened #27 "Make text highlighting more obvious"
Right now we highlight text in red. We should maybe highlight the line and then highlight different part of the instructions (if appropriate).

[2016-05-08 13:46] skuhl opened #28 "Scrollbar on pendant to show that scrolling is possible"

[2016-05-08 17:16] #1 closed, assigned to nobody

[2016-05-08 18:56] neoaero99 commented on #16
So, I can get it to draw a grid (though it looks a bit weird depending on the angle), but I am having trouble drawing a line between the ground plane and the robot's end effector

[2016-05-09 14:04] neoaero99 commented on #18
Messages now appear when either pan or zoom is enabled

[2016-05-09 14:04] #18 closed, assigned to nobody

[2016-05-09 14:05] neoaero99 commented on #12
You fixed this, right Vincent?

[2016-05-09 15:11] vtdrusch commented on #12
Yep, this issue should be rectified, I'll go ahead and close it.

[2016-05-09 15:11] #12 closed, assigned to nobody

[2016-05-09 15:58] #22 closed, assigned to neoaero99

[2016-05-09 16:29] neoaero99 opened #29 "Fix World Coordinate Mode Jogging"
So, I have noticed that when you jog the robot in World Coordinate mode, the motion that the the robot moves does not match the buttons that you press for jogging the robot. Not to mention there is no rotation motion in World mode either.

[2016-05-09 19:01] #16 closed, assigned to neoaero99

[2016-05-10 12:25] #24 closed, assigned to nobody

[2016-05-10 13:50] neoaero99 commented on #25
I would like to meet with Siddharth to discuss how conditionals are handled with the FANUC robots.

[2016-05-10 18:22] vtdrusch opened #30 "Processing 3.1"
Just a quick announcement: Processing has been updated to version 3.1, and I'd recommend updating just to be on the safe side in ensuring that we don't get any weird problems developing from using disparate versions of the application. The application still runs just fine on either version (the only change to the API being that Processing 3.1 is Java 8+ compliant), I just wanted to double check th

[2016-05-10 18:35] neoaero99 commented on #30
Yeah, I updated this morning.

On Tue, May 10, 2016 at 2:22 PM, Vincent Druschke notifications@github.com
wrote:

[2016-05-10 18:36] vtdrusch commented on #30
Excellent. Hopefully the new version will also solve some of the issues with the editor.

[2016-05-10 18:36] #30 closed, assigned to nobody

[2016-05-10 18:40] vtdrusch commented on #5
Made some headway here, IK algorithm with Jacobian transpose is working, albeit with noticeable frame rate drop when approaching the limit of the arm's range of motion. Still, the simple Jacobian algorithm used here seems to be more efficient and more accurate than the previous implementation, and eliminates the random, jerky rotation.

The efficiency and resolution of the algorithm are closely re

[2016-05-10 19:09] neoaero99 commented on #30
Yeah ...

[2016-05-10 19:12] neoaero99 commented on #5
Alright, that sounds good. I am trying to implement the joint ranges for
program executation, but I am having little success with it.

On Tue, May 10, 2016 at 2:40 PM, Vincent Druschke notifications@github.com
wrote:

[2016-05-10 22:20] vtdrusch commented on #5
Alpha value calculation has been implemented and, as Scott had suggested, does wonders for performance. The alpha value is essentially a smarter version of the coefficient on angular offset that I had mentioned previously, and automatically scales up or down to provide the best resolution possible for each IK calculation. World jogging is now very smooth and accurate (within 1 unit) for all reacha

[2016-05-11 01:33] neoaero99 commented on #5
Yeah, I noticed that the rotational IK is not implemented, which is why I
could not accurately finished the button highlighting while jogging in
world coordinate mode.

On Tue, May 10, 2016 at 6:20 PM, Vincent Druschke notifications@github.com
wrote:

[2016-05-14 17:51] vtdrusch opened #31 "Fix circular joint movement"
The "C" type movement instructions are currently the only instruction type that doesn't seem to function at all. I've fixed a few crashes caused by trying to execute these instructions, but right now they don't appear to do anything other than halt program execution.

[2016-05-16 12:21] neoaero99 commented on #31
Alright; do you want to reformat the program code first or continue working
on the circular motion?

On Sat, May 14, 2016 at 1:51 PM, Vincent Druschke notifications@github.com
wrote:

[2016-05-16 12:24] vtdrusch commented on #31
Go ahead and keep doing what you've been doing, I'm going to look at a new
design for the program execution code later today.
On May 16, 2016 8:21 AM, "Neo Aero" notifications@github.com wrote:

[2016-05-16 13:11] neoaero99 commented on #31
I realized that we need the circular motion to work in order to allow for
the rotational jogging in the World Frame.

On Mon, May 16, 2016 at 8:24 AM, Vincent Druschke notifications@github.com
wrote:

[2016-05-16 17:32] vtdrusch opened #32 "Convert RobotRun to Eclipse compatible project"
I had mentioned this before, but it may be easier to develop this application if we can use a more fully featured and stable IDE such as Eclipse. There are a couple of extensions available for Eclipse that includes this functionality, but I have been experimenting with the 'Proclipsing' extension to include a Processing based application in Eclipse.

It is relatively straightforward to get the pro

[2016-05-16 17:40] neoaero99 commented on #32
I don't mind doing it

[2016-05-16 20:28] skuhl commented on #32
Is the "Proclipsing" extension something that is actively developed and
expected to be around for a while? How much more complex would it make the
our code after it is exported to Java? My general preference would be to
either use Java or use Processing---doing something that is in-between
doesn't seem like a great plan.

Regardless of which of the two languages we decide to use, you could use
wha

[2016-05-16 20:55] vtdrusch commented on #32
Whether or not the extension will continue to be supported in the future is a good question, and that's certainly a concern for future development, if not for the work we'll be doing this summer. All the extension really does is to automate the inclusion of the Processing code libraries, so it should be technically possible to simply treat the program as a Java project, although this would require

[2016-05-17 17:17] neoaero99 commented on #23
I removed the TestBeds from the project.

[2016-05-17 17:17] #23 closed, assigned to nobody

[2016-05-17 17:25] neoaero99 commented on #27
Despite there being setColorBackground() and setColorForeground() for a textLabel object in the ControlP5 library, neither of those methods seem to change the color of the label. So, the best I can do to highlight a line is highlight all of the test a specific color; would that be alright?

[2016-05-17 21:53] skuhl commented on #27
For now, anything that is a step in the right direction is good. We might have to come back and revisit all of the text to make it more legible in general though.

[2016-05-19 15:22] neoaero99 commented on #11
How should the orientation of an object in the world be handled? Should I store each object's orientation individually?

[2016-05-19 17:45] vtdrusch commented on #32
Closing this issue for now, will continue to work with Processing native project structure.

[2016-05-19 17:45] #32 closed, assigned to nobody

[2016-05-19 17:46] vtdrusch commented on #29
Buttons should correctly correspond to the movement they produce for transnational world coordinate movement.

[2016-05-19 17:47] #14 closed, assigned to neoaero99

[2016-05-19 17:55] vtdrusch commented on #17
I've made a couple of adjustments in this vein: first, rotation and panning mode are now mutually exclusive, so users will no longer have to contend with having the camera alternate between these two movement types with every mouse click. Selecting the rotate button on the UI (or pressing the corresponding keyboard key) will turn off panning if it is currently enabled, and vice versa.

Second, I'v

[2016-05-19 18:00] #26 closed, assigned to nobody

[2016-05-19 18:10] vtdrusch opened #33 "Text on screen should only scroll when selection reaches bottom of screen"
The previous implementation of the program and instruction display system would always keep the user's selection at the top of the screen, moving previous elements off screen immediately rather than allowing the user to curse downward until reaching the bottom of the screen. Users should now be able to move the selector to any item on screen without the currently displayed selections being changed

[2016-05-19 18:10] #33 closed, assigned to nobody

[2016-05-31 15:31] neoaero99 commented on #11
So, you can pick up objects with the Robot arm now. I have fixed any bugs that I could think of for holding an object, moving it around and placing it again (though collision handling does not exist yet, so there my be problems later on). However, without an end effector offset, it is rather akward to pick up an object, because the end effector position must be touching the object's hit box in ord

[2016-06-02 18:49] neoaero99 commented on #9
It would seem that all the scenarios involve picking up objects and moving them between areas designated as "fixtures". Though, we may want to include a conveyor belt scenario.

[2016-06-02 18:54] neoaero99 commented on #25
Siddharth also mentioned that Copy+Paste functions should exist for program statements.

[2016-06-05 00:59] vtdrusch commented on #5
Finally starting to see the light at the end of the tunnel in terms of completing the inverse kinematics package (which has really worked just fine for the past couple weeks, the issue was mostly with how to actually specify changes in orientation in a way that made sense for the algorithm; once you know where you're going, inverse kinematics can get you there). I'm happy to report that world fram

[2016-06-06 10:43] neoaero99 commented on #5
Hooray!

On Sat, Jun 4, 2016 at 8:59 PM, Vincent Druschke notifications@github.com
wrote:

[2016-06-08 17:56] neoaero99 opened #34 "Default Camera Positions (Top, Left, Right, etc.)"
Siddarth mentioned to me the other day that adding default camera positions and a way to switch to the them quickly, would be an important feature to include in our project.

It is up to us whether we add something to the GUI or adding more keybindings to account for these.

I was thinking that these positions should scale to the current scale value as well.

[2016-06-08 17:57] neoaero99 commented on #13
The end effector offset exists, I'll be that the Tool Frame Three Point method still needs work.

[2016-06-08 17:57] #13 closed, assigned to neoaero99

[2016-06-08 17:57] neoaero99 commented on #11
Yeah, this is completed as well ...

[2016-06-08 17:57] #11 closed, assigned to neoaero99

[2016-06-08 17:58] neoaero99 commented on #29
This I believe is completed now as well.

[2016-06-08 17:58] #29 closed, assigned to nobody

[2016-06-08 18:04] neoaero99 opened #35 "Completing the Tool Frame"
The Tool Frame itself exists, however, the creation of Tool Frames is barely implemented.

The three methods that need to be included are:

1) The 3-Point Method
2) The 6-Point Method
3) Manual Entry

Hopefully, Siddharth and I will be able to complete the 3-Point Method this week.

As for the 6-Point Method, as Professor Kuhl mentioned we need to learn more about it (which I plan to do in the nex

[2016-06-08 18:07] neoaero99 opened #36 "Completing the User Frame"
I am not too sure what all this entails, so we need to discuss it further with Siddharth and/or Professor Sergeyev.

[2016-06-10 00:21] vtdrusch commented on #31
Circular IK is complete, closing this issue (will still need to update C type instructions, but this is a different problem).

[2016-06-10 00:21] #31 closed, assigned to nobody

[2016-06-10 00:25] vtdrusch commented on #5
IK algorithms working as intended (to the best of my knowledge): rotation and translation are both functional, adhere to all specified joint angle limitations, and scale with the current speed of the robot. There are a couple of tweaks that could be made related to this issue, but as the core functionality of the IK algorithm is now complete, I think we can finally call this feature finished.

[2016-06-10 00:25] #5 closed, assigned to nobody

[2016-06-10 15:53] neoaero99 opened #37 "The Robot's Speed"
When I reviewed the 3-Point method with Siddharth, he mentioned that the Robot should be able to move at speeds slower than our current 1% speed.

[2016-06-10 15:55] neoaero99 commented on #36
Siddharth mentioned that a method for defining a User Frame is similar to defining the axes in the 6-Point Method.

[2016-06-10 18:08] vtdrusch opened #38 "Fix movement instructions"
Recent changes to the way the arm handles movement have broken movement instructions. I'll be looking into a fix for this problem.

[2016-06-10 18:50] vtdrusch opened #39 "Modify robot movement to be dependent on elapsed time"
Currently, the robotic arm moves by updating its position by a constant amount each frame, under the assumption that the frame rate will always be 60 fps. It has suggested that we remove this dependency on frame rate and instead try to enforce a constant rate of movement per unit of real time elapsed, which would help to ensure a consistent rate of movement regardless of frame rate.

[2016-06-10 23:15] vtdrusch commented on #38
I made a couple of changes that seem to have fixed Joint and Linear type instructions, at least. Still having issues running any of the auto-generated tests, but I think that that is an issue with the programs themselves. Going to do a bit more testing, but it looks like everything is working as intended.

[2016-06-11 00:12] vtdrusch commented on #38
Circular type instructions are working in some cases, but can cause the robotic arm to attempt to move through illegal joint angles or even cause the application to crash. Looking into this.

[2016-06-11 18:37] vtdrusch opened #40 "Improve saving/ loading"
Josh and I had already discussed this in part, but the original mechanisms for saving and loading programs and frames are somewhat inefficient and can lead to problems with the application. In particular, I noticed a lot of unchecked calls to Scanner.next() in the file load methods causing errors when the file the scanner is reading from happens to be empty. We should either provide more robust ch

[2016-06-11 19:15] vtdrusch commented on #37
I've reduced both the robot's translational and rotational base speed by 75%, which seems to have brought the robot's movement more in-line with that of the actual robotic arm's. Users should now be able to control the robot's position in a much more granular way, and we can also add a further step down from 1% speed for fine motor control.

[2016-06-11 19:23] vtdrusch commented on #37
Also tweaked the joint motor speed values for joint rotational movements. Interested to see how Alex and Siddharth like these changes.

[2016-06-11 19:24] neoaero99 commented on #37
Cool, sounds great.

On Sat, Jun 11, 2016 at 3:23 PM, Vincent Druschke notifications@github.com
wrote:

[2016-06-11 19:27] #37 closed, assigned to nobody

[2016-06-15 13:33] neoaero99 opened #41 "Glitchly movement in Reference Frames"
I have noticed that when you set a user or tool frame with axes offsets (w, p, r) that the robots orientation changes quickly when you initial movement in a translational direction.

I am not quite sure why this occurs, but it is something that we should look into.

[2016-06-15 13:35] neoaero99 commented on #41
Also, I forgot to mention that some of axes are swapped for the reference frames axes. Though it may be how I display the axes; I still need to look into it.

[2016-06-20 14:11] neoaero99 commented on #34
Although they do not scale, the siz default camera positions are key bound to 1-6.

[2016-06-20 14:11] #34 closed, assigned to nobody

[2016-06-21 17:25] neoaero99 commented on #36
The User Frames should be complete now.

[2016-06-21 17:25] #36 closed, assigned to neoaero99

[2016-06-21 17:26] neoaero99 commented on #35
The Tool Frames should be fully functional

[2016-06-21 17:26] #35 closed, assigned to neoaero99

[2016-06-21 17:33] neoaero99 opened #42 "Add Registers and the Data Menu"
So, one of things that Siddharth mentioned is that the Data Menu allows the modification of the Position Registers and the Registers.

Similar to the editing of the Instructions in Programs the Data Menu will list the Registers in numbered order and each register has two fields: a comment (really a name for the entry) and a value.

For the Position Registers a point is stored in the register. For

[2016-06-21 17:34] neoaero99 commented on #40
I probably should have mentioned that I have been working on converting saving to binary files, however, I have nearly completed the process.

[2016-06-21 17:53] neoaero99 commented on #40
Saving has been fully converted to binary files for programs and frames.

Though I should mention that since we will be adding more variations to program instructions in the near future that in order for a program to be saved it NEEDS to have a saving case in the saveInstruction() AND a loading case in loadInstruction() methods.

[2016-06-21 17:53] #40 closed, assigned to neoaero99

[2016-06-22 18:08] neoaero99 opened #43 "Fix Stepping forwards and backwards"
So, I have noticed that stepping backwards and stepping forwards for single instructions does not work correctly in programs.

[2016-06-27 17:56] neoaero99 commented on #42
Registers and Position Registers exist and can be edited.

[2016-06-27 17:56] #42 closed, assigned to neoaero99

[2016-06-27 17:57] neoaero99 commented on #20
The scrolling of instructions, frames, registers, should all function correctly now.

[2016-06-27 17:57] #20 closed, assigned to nobody

[2016-06-27 17:58] neoaero99 commented on #27
Vincent has updated the UI to add more obvious highlighting.

[2016-06-27 17:58] #27 closed, assigned to nobody

[2016-06-30 04:38] #43 closed, assigned to nobody

[2016-06-30 04:40] vtdrusch commented on #21
I believe that the UI is improved and should be acceptable for now. Will reopen issue if UI scale is still an issue in the future.

[2016-06-30 04:40] #21 closed, assigned to nobody

[2016-06-30 04:41] vtdrusch opened #44 "Add program edit functions"
Functions like insert, delete, and copy/paste have to be either implemented or improved upon.

[2016-06-30 04:44] vtdrusch commented on #25
Altering this issue to encompass the broader range of instruction types that have yet to be implemented. In addition to conditional instructions, we still have control flow and register arithmetic functions to implement, among others.

[2016-07-01 18:39] neoaero99 opened #45 "Resizing of the Window"
So, Siddharth was trying to run the program on a computer with a screen resolution of 1366x768 and it would seem that the size of the window is just too large for his screen. I would recommend that we add functionality to resize the screen for at least the default size and a size manageable for a window of 1366x768.

[2016-07-05 20:09] vtdrusch commented on #45
UI and default window size reduced to 720 vertical pixels. Closing this issue for now, we can revisit this if we find the need to further decrease the application window size.

[2016-07-05 20:09] #45 closed, assigned to nobody

[2016-07-05 20:12] vtdrusch opened #46 "Convert any angles displayed in radians to degrees"
There are only a couple instances where radians are used to display an angle instead of degrees, but we should be using degrees for all user-facing angle read-outs.

[2016-07-05 20:15] vtdrusch opened #47 "Reduce precision of robot arm position display"
Robot arm position, orientation, and joint angles only need to be displayed to 3 digits of precision rather than 4.

[2016-07-05 20:19] vtdrusch opened #48 "Enter button should be used as selection confirmation in all instances"
Currently, some menus require the use of the right arrow key to confirm a selection and transition to the next corresponding menu. While we may want to keep this functionality for some menus, the enter button should be able to perform this function on every menu in addition.

[2016-07-05 20:39] vtdrusch opened #49 "Implement previous/ next button functionality"
The previous button should be able to return the user to the previous menu (i.e. whichever menu was used to access the user's current menu), except in the case where the user is on the root menu and no previous menu exists.

The next button is used to cycle through the options assigned to the function buttons in cases where there are multiple option sets for the function buttons on a given screen

[2016-07-05 20:41] vtdrusch opened #50 "Robot jogging with shift off"
Robotic arm should respond to joint movement buttons iff the shift key is set to ON.

[2016-07-05 20:44] vtdrusch opened #51 "Record current arm position to register from register menu"
When viewing the list of position registers, the user should have the option to save the current position of the robotic arm to a given register in addition to editing that register manually.

[2016-07-05 20:47] vtdrusch opened #52 "Move to recorded point when creating frame"
While entering points to construct a user/ tool frame for either the 3, 4, or 6 point entry methods, the user should have the option to reset the robot arm's position and orientation to that of any point that has already been recorded for the construction of the frame.

[2016-07-05 20:50] vtdrusch opened #53 "Simplify menu interactions when modifying frames/ registers"
The user should be able to open the relevant editor menu simply by selecting a given frame or register and pressing 'enter.'

[2016-07-05 20:55] vtdrusch opened #54 "Provide quick transitions between 3, 4, and 6 point frame edit modes"
The user should have a quick and simple way to convert between any of the frame entry modes. For example, after the user has specified a 3-point frame, they should be able to simply add a fourth point to the frame as the origin offset while preserving the original 3-point frame specifier.

[2016-07-05 20:59] vtdrusch opened #55 "Display joint-angle and Cartesian-coordinate position registers in same menu"
There are currently two separate menus for displaying position registers either as joint-angle values or as Cartesian values (x, y, z, w, p, r). Users should access position registers via a single menu, and should have the option of switching between joint-angle and Cartesian point specifications once they have accessed a given position register for viewing/ editing.

[2016-07-05 21:04] vtdrusch opened #56 "Fix floating point register input"
The process of specifying a register value has been observed to be broken in certain circumstances, will have to look into this further.

[2016-07-06 01:30] neoaero99 commented on #56
How so?

[2016-07-06 01:31] neoaero99 commented on #51
This functionality already exists. If shift is on, then you may save the current position of the robot to a position register with F1.

[2016-07-06 01:31] #51 closed, assigned to nobody

[2016-07-06 01:37] neoaero99 commented on #53
Do you mean the transition from the TOOL_FRAME_NAV or USER_FRAME_NAV to FRAME_DETAIL mode?

[2016-07-06 18:05] vtdrusch commented on #53
Floating point registers, position registers, and both tool and user frames should be accessed by selecting the desired frame or register in the appropriate menu and pressing enter. This mostly applies to the editing of frames, where the process of accessing the editing methods is somewhat complicated.

[2016-07-09 00:40] vtdrusch commented on #56
When editing a floating point register, a 0.0 will be pre-pended to the
value, making it impossible to create a value of 0.1 or greater.
On Jul 5, 2016 9:30 PM, "Neo Aero" notifications@github.com wrote:

[2016-07-09 17:52] neoaero99 commented on #56
Ah, I see the misunderstanding. The backspace key functions for floating point input, so if you wish to remove the 0.0, then you can use the backspace key. I just adding the initialization, because I thought it would be useful. You can initialize it to an empty string if you wish.

[2016-07-09 17:52] #56 closed, assigned to nobody

[2016-07-09 17:53] neoaero99 commented on #56
The backspace key works in almost all input fields, at least it should.

[2016-07-10 00:35] vtdrusch commented on #53
Based on what Siddharth and I had discussed earlier this week, registers
(data and position) should be accessed by selecting the desired register
from the appropriate menu and pressing enter, which is largely how they
work now but with a function button replacing the enter key.

For frames, the user should be able to enter the edit menu more easily;
rather than using a series of function presses,

[2016-07-11 12:00] neoaero99 commented on #50
The Robot will now only jog when shift is ON. Also, if shift is toggled OFF and the Robot is currently jogging, then the Robot will cease all movement. However, this does not affect program execution.

[2016-07-11 12:00] #50 closed, assigned to nobody

[2016-07-11 12:17] neoaero99 opened #57 "Generic Inverse Kinematics and Calculations for the Robot's Position and Orientation"
Currently, I do not believe we have a method for taking a single point and applying inverse kinematics on it to get the joint angles required to move the Robot to that point, without applying these angles to the Robot itself.
So, if you manually input values for a Position Register in the Cartesian mode, then there is no way to get the respective joint values for that point without applying them t

[2016-07-11 12:20] neoaero99 commented on #54
I do not quite understand what you want, because the 3-Point Method of a Tool Frame and a User Frame are completely different, so it does not make sense to convert between the two.

[2016-07-11 12:21] neoaero99 commented on #55
The VIEW_POS_REG_J and VIEW_POS_REG_C are essentially the same, except for when you view the value of a register.

[2016-07-11 13:38] neoaero99 commented on #54
Also, there is no benefit to convert form the 6-Point Method to the 3-Point Method for the Tool Frame or from the 4-Point Method to the 3-Point Method for the User Frame; the 6-Point Method and 4-Point Method are build-offs of their respective 3-Point Methods. The only case in which this would be useful is from the 3-Point Method to the 6-Point Method for the Tool Frame, since teaching the TCP can

[2016-07-11 14:55] spsid13 commented on #54
for example if you have recorded the tool frame in 6 point method. and now
if i  change the method to 3 point method then the positions recorded for
approach point 1 2 3 are still available but origin X and Z are deleted.
similarly for user frame if i have recorded using 3 point method and now i
want to change to 4 point method then the three recorded points are carried
forward and i now need to r

[2016-07-11 19:02] neoaero99 opened #58 "Fixing The Frames"
So, Siddarth explained that the points for teaching a frame should save the points taught for each frame as well as the input values for the direct entry of each frame as well. So, for a given frame you can switch between frame methods and preserve any points taught, or values entered.

[2016-07-11 19:03] neoaero99 commented on #54
I moved this issue to a new one

[2016-07-11 19:03] #54 closed, assigned to nobody

[2016-07-12 18:46] neoaero99 commented on #46
All angles should be displayed in degrees as of now.

[2016-07-12 18:46] #46 closed, assigned to nobody

[2016-07-12 18:46] neoaero99 commented on #47
All floating-point displays should be displayed to 3 digit precision.

[2016-07-12 18:46] #47 closed, assigned to nobody

[2016-07-12 21:22] neoaero99 commented on #58
The points as well as the direct entry values are stored for each frame. Also, you can switch between each frame  teaching method while currently teaching a frame.

[2016-07-12 21:22] #58 closed, assigned to neoaero99

[2016-07-13 14:56] neoaero99 opened #59 "Instruction Editing Revisions"
Siddharth mentioned a while ago some changes that need to occur for instruction editing and running of programs.
1. The save point function should be removed. Instead, adding point instructions should always override the currently highlighted instruction (also override should be changed to override the current register as well).
2. When editing a program, any new instruction should override the cu

[2016-07-13 17:45] neoaero99 commented on #52
As of now, you can move any points taught to the Frame, when teaching a Frame in either 3-Point Method as well as the 4-Point Method or the Six-Point Method.

[2016-07-13 17:45] #52 closed, assigned to neoaero99

[2016-07-13 18:26] neoaero99 commented on #53
I modified the Register and Frame menu transitions, let me know what you think.

[2016-07-14 15:03] neoaero99 opened #60 "SHIFT button and Robot Motion"
Siddhath mentioned that in general any function in any menu that relates to motion of the Robot or recording of the Robot's position/orientation should only be useable with SHIFT + the function key.

[2016-07-16 13:15] neoaero99 opened #61 "Fixing the UI"
Alright, so I have found way too many problems with the UI and I am going to try and fix them. I know the UI just went through an overhaul, but I need to go through and fix the menu transition again.

[2016-07-16 18:16] vtdrusch commented on #61
I'm still in the middle of the UI update, I just pushed the changes I had so far after merging last night. I'll be working on transitions all weekend, so if you don't want to deal with the bugginess for now, just revert to the previous commit. Otherwise, you can feel free to start implementing menu transitions for registers and frames; I already have program editing and navigation 90% done, the ch

[2016-07-17 23:07] vtdrusch commented on #61
The instruction menus are largely functional from what I can tell. There are probably a couple of small things that I've missed, but we can iron those out pretty easily as we go.

Frame navigation and editing is working for the most part, although I have less experience with these systems and will have to have Josh tell me if I missed anything here; viewing, selecting, loading, and editing should

[2016-07-18 09:06] vtdrusch commented on #61
Pushed a couple more changes; the direct entry method is no longer completely broken, but I wasn't able to quickly figure out how the user was intended to modify the frame values, so while you can view the frame properties, you can't currently change them.

Data menus are now mostly working in that it's possible to set a value for both data and position registers. Modifying a data register once it

[2016-07-18 12:19] neoaero99 commented on #61
I think, I can solve some of those problems, but I believe that the updating of contents, options, opt_select, row_select, col_select, text_render_start need to be done not only on a case-by-case level, but also need to be split between intital screen transitions and updating of the current screen based on the current mode. Would it be too much trouble to create a google spreadsheet for these tran

[2016-07-18 13:48] vtdrusch commented on #61
Sure, that's a good idea. I'll go through and map out as much of the UI as
I can when I get in this morning.

On Jul 18, 2016 8:19 AM, "Neo Aero" notifications@github.com wrote:

[2016-07-18 13:50] spsid13 opened #62 "unable to run the software on library desktops"
It shows as a white window and doesn't seem to work on library computers

[2016-07-18 14:09] spsid13 opened #63 "pressing shift coordinate shows the current user and tool frame but cannot modify"
The user should be able to enter the number of frame here. suppose he wants to activate user frame 6 then he should be able to enter 6 when the cursor is on user frame and it should be set

[2016-07-18 14:16] spsid13 opened #64 "world frame tcp position"
when the end effector is selected and the coordinate is tool frame the rotation is about faceplate center which is the tcp. It should be the same when in world frame as well. Until the tool frame is taught about the end effectors such as vacuum cups center it should consider the tcp to be faceplate..

[2016-07-18 14:21] spsid13 opened #65 "translation in tool frame"
when the tool frame is taught in 6 point method, and the translation points of origin, x axis and y-axis are defined then this coordinate frame is supposed to be dynamic. As of now the translation motion for this frame is not changing with the rotation of tool frame.

[2016-07-18 14:23] spsid13 opened #66 "while recording points in tool frame or pressing move to it shouldnt function unless the shift is active."
this is common throughout.

[2016-07-18 14:26] neoaero99 commented on #64
I added default Tool Frames for both End Effectors that are set when either one is selected and there is no active Tool Frame. Do you want me to remove it?

[2016-07-18 14:27] neoaero99 commented on #66
This is covered by issue #60.

[2016-07-18 14:27] #66 closed, assigned to nobody

[2016-07-18 14:30] spsid13 commented on #64
In the final software it should be removed. i assume you might now need it for faster testing. Just wanted to highlight it so that we don't forget.

[2016-07-18 14:33] spsid13 opened #67 "user frame activation"
for some reason even though user frame 2 is active(not taught) it remains in user frame 3(which has been taught). basically setting a new user frame active is not being updated.

[2016-07-18 14:33] neoaero99 commented on #64
Alright, will do.

[2016-07-18 14:35] neoaero99 commented on #57
Yeah, I added this to the dev2 branch.

[2016-07-18 14:47] neoaero99 commented on #61
I added a google spreadsheet to the shared Google Drive folder Robotics Summer Project/2016_RobotRun_Docs/ .

[2016-07-18 16:07] spsid13 opened #68 "changing speed"
if the user presses shift + % for speed increment or decrement,
then the variation is supposed to be fine, 1 ,5, 50, 100
else it is fine,1,2,3,4,5 ,10.15,20... and so on

[2016-07-19 13:37] neoaero99 opened #69 "Message Display"
Since we decided to shift some of the menus over to the options ArrayList and treat it less as an options menu and more as a contents menu for menus that do not need a 2D display format, I believe we will need a third ArrayList and corresponding labels for printing messages to the user (Error messages, directions, etc.); I originally used the options list for the functioning of messages, but that

[2016-07-19 18:30] neoaero99 commented on #67
Both User and Tool Frames can be set, reset, taught, and viewed properly again.

[2016-07-19 18:30] #67 closed, assigned to neoaero99

[2016-07-19 18:34] neoaero99 commented on #65
Motion in Tool and User Frames once again reflects that Frames relative axes.

[2016-07-19 18:34] #65 closed, assigned to neoaero99

[2016-07-19 18:35] neoaero99 commented on #68
Changing the speed is now variable based on if shift is set or not.

[2016-07-19 18:35] #68 closed, assigned to neoaero99

[2016-07-19 18:35] neoaero99 commented on #64
I removed the default Tool Frames for the End Effectors.

[2016-07-19 18:35] #64 closed, assigned to neoaero99

[2016-07-20 00:55] neoaero99 commented on #63
You can now edit the active Tool and User frame from the Active Frames menu in a similar fashion to inputting a numeric value. Although, you have to either move up or down, or press ENTER to update the current Coordinate System.

[2016-07-20 00:55] #63 closed, assigned to neoaero99

[2016-07-20 00:56] neoaero99 commented on #62
Hey Siddharth, did you try the build I sent you on Monday on the labs? I tried the 64-bit version and it worked fine. Let me know if you still have problems.

[2016-07-20 12:52] neoaero99 commented on #57
It would seem that the generic inverse kinematics method is not working properly, so I am going to look into fixing it.

[2016-07-20 13:28] neoaero99 commented on #55
The Point and Cartesian Position Register menus exists as parallel displays, where only the functionality of saving points and editing the registers differs between the Point and Cartesian menus.

[2016-07-20 13:28] #55 closed, assigned to nobody

[2016-07-20 16:10] neoaero99 commented on #19
This issue was resolved when Vince changed the UI display and button layout.

[2016-07-20 16:10] #19 closed, assigned to nobody

[2016-07-21 13:21] neoaero99 commented on #57
So, it seems that Inverse Kinematics works and I was able to get Position Register conversions back and forth from Joint angles to Cartesian values to work. However, I eventually want to generalize Inverse Kinematics more, so that it does not relay on the Arm Model for calculations. Also, I want to generalize some of the methods in the Arm Model class, like getEEPos(), getWPR(), etc. so that they

[2016-07-21 13:22] neoaero99 commented on #53
I am pretty sure that this is done.

[2016-07-21 13:22] #53 closed, assigned to neoaero99

[2016-07-21 18:59] neoaero99 opened #70 "Converting to Quaternions"
I would like to convert as much of our orientation calculations to quanternions as possible for consistencies sake. The only things that should not be converted to quaternions are the conversions between the World and Native Frames as well as collision handling.

[2016-07-21 18:59] neoaero99 commented on #61
I am pretty sure that this is completed.

[2016-07-21 18:59] #61 closed, assigned to vtdrusch, neoaero99

[2016-07-21 19:01] neoaero99 commented on #60
All current function keys involving moving the Robot or Recording points (aside from Instructions) is restricted to when shift is ON.

[2016-07-21 19:01] #60 closed, assigned to nobody

[2016-07-21 19:02] neoaero99 commented on #41
I have not seen too much glitchy movement for user defined Coordinate Frames, so I will close this for now.

[2016-07-21 19:02] #41 closed, assigned to nobody

[2016-07-25 01:35] spsid13 opened #71 "cursor line should update parallely while the robot is moving"

[2016-07-25 01:41] spsid13 opened #72 "use shift enter to select multiple lines for deleting and selecting in all options"

[2016-07-25 01:54] spsid13 opened #73 "Fixing Position Register Record and Move To Functions"

[2016-07-25 01:54] spsid13 opened #74 "remove serial numbers for registers and position registers"

[2016-07-25 02:01] spsid13 opened #75 "unable to delete I/O instruction in the program"

[2016-07-25 02:05] spsid13 opened #76 "Program Copy/Paste Functions"

[2016-07-25 12:33] neoaero99 commented on #74
What d o you mean?

[2016-07-25 12:35] neoaero99 commented on #73
Yeah, I have been having trouble with position registers. Hope to have this fixed by the end of today ...

[2016-07-25 12:38] neoaero99 commented on #73
I need to change how the position registers are saved and how they are display:

Joint Points are fine, but Cartesian Points need to be saved in reference to the current frame and the joint angles need to be updated when the user uses the Move To function.

[2016-07-25 12:39] spsid13 commented on #74
The numbers to the left of the register are redundant. Register numbers themselves are enough to identify right?

Get Outlook for iOS

On Mon, Jul 25, 2016 at 8:33 AM -0400, "Neo Aero" notifications@github.com wrote:

What d o you mean?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-25 12:41] neoaero99 commented on #74
Ah, I see what you mean

[2016-07-25 12:47] neoaero99 commented on #74
Do you want anything else displayed for either of the Register menus?

[2016-07-25 12:57] spsid13 commented on #74
No. Looks good.

Get Outlook for iOS

On Mon, Jul 25, 2016 at 8:47 AM -0400, "Neo Aero" notifications@github.com wrote:

Do you want anything else displayed for either of the Register menus?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-25 15:03] spsid13 opened #77 "Reverse Direction of Rotation of Joints 1 and 3"

[2016-07-25 15:58] spsid13 opened #78 "lets use F2 in the programming window to record points and let F1 be used for new instruction"

[2016-07-25 17:15] neoaero99 commented on #59
Also, Siddharth mention today that F1 should be adding a new instruction and F2 should be recording a motion instruction.

[2016-07-25 17:16] neoaero99 commented on #78
This issue has been combined with issue #59

[2016-07-25 17:16] #78 closed, assigned to nobody

[2016-07-25 17:17] neoaero99 commented on #74
Alright

[2016-07-25 17:17] #74 closed, assigned to nobody

[2016-07-25 17:20] neoaero99 opened #79 "Adding Object and Fixture Creation"
So, we need to be able to create a object in the world as well as place fixtures (which would be special objects). Currently, Siddharth requires only boxes and cylinders. We will need menus for specifying the position, orientation and dimensions of the objects in the world and also a method for accessing these menus.

[2016-07-25 17:32] neoaero99 opened #80 "Updating Gridlines"
We should display gridlines that span from the base of the Robot across the World Frame's xy plane, which are draw in accordance to the current Frame's xy plane, where each line is drawn every 100 units.

[2016-07-25 17:33] neoaero99 commented on #80
Also, I will add a toggle feature for display gridlines, the Frame axes, or nothing.

[2016-07-26 16:09] neoaero99 opened #81 "Tool Frame Modifications"
The active Tool Tip should be saved for all recorded points (aside from Frame Teaching). Motion instructions should keep track of the Frames that they were saved in and throw errors, if they are run in a different Coordinate Frame. Additionally, the Tool Tip should be used for rotation in all Frames while jogging.

[2016-07-27 15:01] neoaero99 commented on #80
I added gridline display toggling to the dev2 branch; you can use the 'd' key on the keyboard between the axes display, grid display, and no display.

[2016-07-27 15:01] #80 closed, assigned to neoaero99

[2016-07-29 19:35] neoaero99 commented on #70
Finally, I converted about as much as I can over to quaternions. It took long enough ...

[2016-07-29 19:35] #70 closed, assigned to neoaero99

[2016-07-29 19:36] neoaero99 commented on #57
Finally, finished removing the Robot dependices form inverse kinematics as well.

[2016-07-29 19:36] #57 closed, assigned to neoaero99

[2016-07-29 19:37] neoaero99 commented on #81
The above functionality are implemented now, but I still need to fix reference frame interactions with moving to Position Register entries.

[2016-07-29 19:37] #81 closed, assigned to neoaero99

[2016-07-29 21:14] #77 closed, assigned to nobody

[2016-08-01 20:22] neoaero99 commented on #73
Position Registers are now saved based on the active User frame (if any) and the Move To function for Position registers will treat the position as if it was in the active User frame.

[2016-08-01 20:22] #73 closed, assigned to neoaero99

[2016-08-02 19:05] neoaero99 commented on #71
The highlighted instruction in a program is updated during a program's execution. Also, I added a number of safeguard checks for prevention of editing a program while it is running and halting program execution, if you leave the program instruction navigation menu.

[2016-08-02 19:05] #71 closed, assigned to nobody

[2016-08-08 16:11] spsid13 opened #82 "show grid in joint mode"

[2016-08-08 16:12] spsid13 opened #83 "register value no initialization"

[2016-08-08 18:34] neoaero99 commented on #83
When editing registers, they are only initialized when the register itself has a value prior to editing.

[2016-08-08 18:34] #83 closed, assigned to nobody

[2016-08-08 18:35] neoaero99 commented on #82
The World Frame grid display is enabled in the Joint Coordinate Frame.

[2016-08-08 18:35] #82 closed, assigned to nobody

[2016-08-10 19:22] neoaero99 commented on #79
Finally added object creation and editing ...

[2016-08-10 19:22] #79 closed, assigned to neoaero99

[2016-08-10 20:01] neoaero99 opened #84 "Exported Project Not Running"
Since my lastest commit, when I try to export the RobotRun project, the executable will not run on my Windows laptop. It works perfectly fine when I run it with the Processing IDE, though. Before this I know that the project would not run in the lab on the 4th floor of the EERC and I still do not know why it does not work there, but it has worked on my computer up until today. I am not sure what t

[2016-08-11 14:16] neoaero99 commented on #84
I fixed the problem; it had to do with the bloody fonts again ...

[2016-08-11 14:16] #84 closed, assigned to neoaero99

[2016-08-11 15:54] neoaero99 commented on #59
This has been completed a while ago.

[2016-08-11 15:54] #59 closed, assigned to nobody

[2016-08-11 16:00] neoaero99 commented on #75
I/O instructions can be added, editted, and deleted as of now.

[2016-08-11 16:00] #75 closed, assigned to nobody

[2016-08-11 18:17] neoaero99 opened #85 "Cloning functions for If and Select Statements"
In order to be able to copy programs, the If and Select statement instructions need cloning functions (i.e. the Expressions and their elements also need cloning functions).

[2016-08-15 16:46] neoaero99 opened #86 "Saving Scenarios"
Siddharth mentioned that the current set of fixtures and parts should be able to be saved and loaded as scenarios.

[2016-08-15 16:50] neoaero99 opened #87 "Moving the Robot"
Siddharth mentioned that the origin of the world should be in the center of the Robot's base and between the second and thrid joint of the Robot.

[2016-08-15 16:53] neoaero99 opened #88 "Cleaning up the UI"
There are a few things that I can do to make the UI for creating and editing fixtures better:

1) Fix dropdown overlap
2) Add deletion of objects
3) Maybe relabel a few fields

[2016-08-16 21:23] spsid13 opened #89 "should be able to edit the fixture dimensions and also delete it"

[2016-08-16 21:25] spsid13 opened #90 "in the edit tab, on selecting the object type as fixtures the object menu is empty."
i created 3 fixtures. if the object type is part i am able to see the object menu having 3 fixtures. minor bug i feel.

[2016-08-16 21:27] spsid13 opened #91 "Text Field Issues"

[2016-08-16 21:39] spsid13 opened #92 "unable to select a single fixture from multiple fixtures to reference the part in the reference tab"

[2016-08-16 22:52] spsid13 opened #93 "x"

[2016-08-16 22:53] #93 closed, assigned to nobody

[2016-08-16 23:01] neoaero99 commented on #93
They were not removed, I simply added the caveat that you must hold down enter, while pressing 1, 2, 3, 4, 5, or 6 to do the camera transitions. I added this so that the camera does not spaze out when you type numbers in the fields.

[2016-08-16 23:03] neoaero99 commented on #93
This is why you also have to hold down enter to change axes displays. Also, you have to hold the right mouse button in order to scroll now, because the camera will zoom when you scroll through the dropdown menus without this. Though, I have not updated the main branch since I added this feature.

[2016-08-16 23:04] spsid13 commented on #93
figured out... thats why closed it :)

[2016-08-16 23:05] neoaero99 commented on #93
Alright, I just wanted to make sure. I know I did not anounce these changes. They are only mentioned in the commits.

[2016-08-16 23:36] spsid13 opened #94 "Joint Interpolation Offsets"
approach point one was recorded. when i try to move to the same point it does not move to same point but the tool frame is created successfully.

[2016-08-17 12:41] neoaero99 opened #95 "Edit (and Display) World Object Dimensions"
Siddharth mentioned that you should be able to edit the dimensions of previously created world objects. So, I plan to also display the active world objet's shape's dimensions alongside its position and orientation.

[2016-08-17 12:47] neoaero99 opened #96 "Fix Moving of World Objects"
As of now, if the EndEffector position is within the bounding-box of a Part and the Robot's End Effector is either the Claw or Suction, then the Robot has the ability to pick up the Part. However, this is not truly practical in a majority of situations (i.e. having an end effector at an offset of (-9999, -9999, -9999)). So, I plan to add special bounding boxes to the Robot's Claw and Suction end e

[2016-08-17 17:53] neoaero99 commented on #86
Scenarios can finally be created, saved, and loaded.

[2016-08-17 17:54] #86 closed, assigned to neoaero99

[2016-08-17 19:52] neoaero99 commented on #89
This issue is part of both #96 and #88

[2016-08-17 19:52] #89 closed, assigned to nobody

[2016-08-17 19:54] neoaero99 commented on #91
Siddharth noticed that pressing delete in a text field actually inserts a ' character. So I plan to look in to it.

[2016-08-17 19:56] neoaero99 commented on #94
So, I believe that the problem is that depending on the speed at which the Robot's moving. When it comes close enough to the destination point, it will stop just short of the point.

[2016-08-17 19:58] neoaero99 commented on #92
The reference dropdown is working now. Let me know if it glitches after we push our next build.

[2016-08-17 19:58] #92 closed, assigned to nobody

[2016-08-17 19:59] neoaero99 commented on #90
You will not have to worry about this, since I recenty combined the list of fixtures and parts for the dropdown list at the top of the edit window.

[2016-08-17 19:59] #90 closed, assigned to nobody

[2016-08-17 22:01] neoaero99 commented on #95
You can now edit the dimensions of objects

[2016-08-17 22:01] #95 closed, assigned to neoaero99

[2016-08-18 18:02] neoaero99 commented on #96
Also, I need to fix the orientation conversions, so that the Robot moves objects in the world frame.

[2016-08-18 18:31] neoaero99 commented on #96
Well, I fixed the orientation transformations.

[2016-08-18 19:04] neoaero99 commented on #88
I fixed a bunch of issues with the World Object windows and added deletion as well as editing features.

[2016-08-18 19:04] #88 closed, assigned to neoaero99

[2016-08-18 19:05] neoaero99 commented on #87
I moved the Robot, so that the origin of the world is roughly in the correct place.

[2016-08-18 19:05] #87 closed, assigned to neoaero99

[2016-08-19 12:14] neoaero99 opened #97 "Fixing the Backwards Button"
As a while ago, the Backwards Button no longer works, so it needs to be implemented again.

[2016-08-19 19:56] neoaero99 commented on #96
The moving of parts is now based on special bounding boxes, which are outlined in blue. In order to pick up an a part its bounding box must be colliding with that of one of the special bounding boxes and must NOT be colliding with any other End Effector bounding box. As of now, the Claw and Suction are the only End Effectors will special bounding boxes.

[2016-08-19 19:56] #96 closed, assigned to neoaero99

[2016-08-19 19:57] neoaero99 commented on #94
For joint interpolation, the Robot should move to the target angles exactly (if possible), so I'll close this for now.

[2016-08-19 19:57] #94 closed, assigned to nobody

[2016-08-19 20:01] neoaero99 commented on #62
Since we published this project, most Windows Machines will not let this program run without manually allowing access for each file in the project. So, it is wise to edit the properties of the archive file BEFORE extracting it. In the bottom of the window there should be a checkbox for unblocking the file: enable it. Afterwards, when you extract the files the program should run fine.

[2016-08-19 20:01] #62 closed, assigned to nobody

[2016-08-19 20:02] neoaero99 commented on #9
Siddharth is handling this.

[2016-08-19 20:02] #9 closed, assigned to nobody

[2016-08-19 20:02] neoaero99 commented on #25
Vincent finished this.

[2016-08-19 20:02] #25 closed, assigned to neoaero99

[2016-08-19 20:05] neoaero99 opened #98 "Camera Control"
The camera motion is based on a static axes for rotation due to how the camera orientation is applied. I want to try and modify the camera controls, so that zooming and rotating are based on the center of screen and not a fixed axes.

[2016-08-21 15:38] spsid13 opened #99 "in the edit tab when we select an object, it should display the object's current values of xyzwpr."

[2016-08-21 16:59] spsid13 opened #100 "changing the speed in the program changes the location of the point."
No matter what the speed of the robot. once the location of a point is recorded. it should reach that location with any speed.

[2016-08-21 18:55] spsid13 opened #101 "distance from joint 2 axis to joint 1 axis in horizontal direction is 35 mm"

[2016-08-22 13:01] neoaero99 commented on #99
If you have an object selected in the dropdown list, when you have the edit tab active; the object's dimensions and orientation are displayed in the middle-right portion of the window, under the Robot's orientation display.

[2016-08-22 16:14] #99 closed, assigned to nobody

[2016-08-22 16:15] neoaero99 opened #102 "Adding a Miscellanous window"
I wanted to add a new window for setting the axes display, the ee mapping and end effector.

[2016-08-22 16:45] #101 closed, assigned to nobody

[2016-08-22 17:21] neoaero99 opened #103 "Fix User Frame Conversions for Motion Instructions"
Siddharth pointed out that the TCP offset is not correct for motion instructions.

[2016-08-22 20:33] neoaero99 commented on #103
So, the TCP offset is fixed, but the User Frame transformations are also not working.

[2016-08-22 20:34] neoaero99 opened #104 "Add/Fix Bounding Boxes for Some End Effectors"
I did not get a chance to complete adding bounding boxes for all End Effectors. The ones that need them have them, though.

[2016-08-22 20:35] neoaero99 commented on #98
Camera rotation is now based on the camera position and scaling changes the perspective of the camera and not the scaling of the transformation matrix directly.

[2016-08-22 20:35] #98 closed, assigned to neoaero99

[2016-08-24 14:00] neoaero99 commented on #17
There are limitations for the panning of the camera now.

[2016-08-24 14:00] #17 closed, assigned to nobody

[2016-08-27 18:29] spsid13 opened #105 "Tool Frame Dynamic Axes"
i will demonstrate this in the next meeting.

[2016-08-27 18:58] spsid13 opened #106 "Added Intermediate Scenario for the Current Scenario"
for example when i have created fixtures and parts and I am trying to teach the program to pick and place. I should be able to press a button go back to original setup and run the program again. else as of now i have to edit the part again and again.

[2016-08-27 20:06] spsid13 opened #107 "remove shortcut to close the program by pressing escape"

[2016-08-27 20:17] neoaero99 commented on #107
WHY?!?!?

[2016-08-27 20:33] neoaero99 commented on #106
Now a separate instance of the scenario is loaded, so by pressing load in the scenario window, you can revert to the last instance of the active scenario that was saved.

[2016-08-27 20:33] #106 closed, assigned to neoaero99

[2016-08-27 20:38] neoaero99 commented on #106
Though bear in mind, if you load another scenario before saving, any changes made to the current scenario are lost.

[2016-08-30 20:06] neoaero99 commented on #105
The axes taught for a Tool frame are an offset of the Robot's orientation and should change with the Robot's orientation.

[2016-08-30 20:06] #107 closed, assigned to nobody

[2016-08-30 20:34] neoaero99 commented on #103
Fix register point display.

[2016-08-30 20:37] neoaero99 opened #108 "User Frame Teaching"
Userframe teach points should be saved with respect of the current Tool frame.

[2016-08-30 20:38] neoaero99 opened #109 "Robot Position Display"
The current Robot joints, world position, and user frame position (if one is acitve) should be display on the lefthand side of the screen.

[2016-08-30 21:02] neoaero99 opened #110 "Save 50% for speed of all points saved in a Program"

[2016-08-31 14:14] #110 closed, assigned to nobody

[2016-08-31 14:14] #109 closed, assigned to neoaero99

[2016-08-31 17:41] vtdrusch commented on #38
Circular instructions should now work as intended, closing this issue.

[2016-08-31 17:41] #38 closed, assigned to vtdrusch

[2016-08-31 17:45] vtdrusch opened #111 "Position editing in motion instruction"
User should be able to view/ edit a motion instruction position in both joint and Cartesian representation.

[2016-08-31 17:46] vtdrusch opened #112 "Fix index offsets"
Should double-check our array indexing: there are a few instances where the conversion from internally 0 indexed arrays are incorrectly converted to 1 indexing for user display/ editing.

[2016-08-31 17:47] vtdrusch opened #113 "Position register joint/ cartesian type setting"
Currently, the user is unable to view position register joint values or switch the position register type. Need to add this functionality as well as implement type checking when using position registers to ensure that the correct type is being enforced for Joint/ Linear/ Circular motion instructions and offsets.

[2016-08-31 17:48] vtdrusch opened #114 "Add keyboard support for register comments"

[2016-09-03 20:27] neoaero99 commented on #108
The Robot's End Effector is now moved to points taught in a User frame.

[2016-09-03 20:27] #108 closed, assigned to neoaero99

[2016-09-03 23:01] neoaero99 commented on #105
The Tool Frame is now dynamic and functional

[2016-09-03 23:01] #105 closed, assigned to neoaero99

[2016-09-03 23:02] neoaero99 commented on #113
You mean positions right? Position Registers have a type setting: you edit it in the mode you want and save it.

[2016-09-04 12:24] neoaero99 opened #115 "Fix Robot Move To"
Currently the Robot will not move to a Cartesian position that has only a difference in orientation to its current position.

[2016-09-04 12:25] neoaero99 opened #116 "World Frame Conversion"
When editing the position of a World Object, its position's y and z values are opposite of what the World frame's axes are.

[2016-09-05 23:34] spsid13 opened #117 "should be able to toggle the tcp coordinate axis visible/invisible"

[2016-09-07 00:11] spsid13 opened #118 "issue with programming points wrt to user frame"
When we record a point in the program by default the point is with respect to user frame. if there is not user frame then it assumes its coordinates with respect to world frame.

Now if I have created a user frame using 4 point method and recorded a point in the program.
next i go back to frames and record a new point for the origin in the user frame.
now when i go back and run the program, the ro

[2016-09-07 00:12] spsid13 commented on #118
Also if i re record all the points of the user frame then the robot should move to a position wrt to this new frame created.

[2016-09-07 02:08] neoaero99 commented on #118
What exaclty are you having trouble with?

[2016-09-11 22:42] spsid13 opened #119 "Can Enter or Edit the first column in the PR[x, y] Register Statement Operand"
![bug](https://cloud.githubusercontent.com/assets/17214301/18421095/591d2852-784f-11e6-83e2-ddca12dfa3f6.JPG)

[2016-09-17 23:44] neoaero99 opened #120 "Refactor User Guide"
So, the User Guide is almost completely useless at this point, since it has not been updated in a while and we have made some major changes recently to both the UI and underlining mechanics. More pictures need to be added, several new sections need to be added to the guide,  and revising of basically EVERYTHING else.

[2016-09-24 18:17] vtdrusch commented on #119
Editing position registers as operands is now possible in register statements.

[2016-09-24 22:49] neoaero99 commented on #119
I found a problem ...

You cannot confirm your input for the position register index, when using the P[x, y] option.

[2016-09-24 22:52] neoaero99 commented on #119
More specifically, when you edit the second index, it prompts for both indices and works fine. However, when you try and edit the first index (which includes the 'P[' prefix), then the ENTER button does nothing.

[2016-09-24 22:54] vtdrusch commented on #119
I'm not seeing this behavior on my end, make sure you pull from the dev branch and try again.

[2016-09-25 02:40] neoaero99 commented on #119
I pulled and you still cannot edit the first column ('P[x ') for a PR[x, y] operand.

[2016-09-25 19:17] vtdrusch commented on #119
I'm closing this issue again as I am unable to reproduce this bug. Check your code branch and try deleting any program saves. If you still have this problem, let me know exactly what you did to cause this bug, including your current screen, previous screen, and the full register statement you were trying to edit.

[2016-09-25 19:17] #119 closed, assigned to nobody

[2016-09-26 23:49] neoaero99 opened #121 "Saving of Mutliple Instructions"
There does not appear to be a save (or loading) case for register statements.

[2016-10-07 06:00] spsid13 opened #122 "when we import objects let the input by user be only source and scale"
The bounding box formed using length height and width should be automatically formed based from scale.

[2016-10-07 06:05] spsid13 opened #123 "shortcut to hide bounding box for parts and fixtures"

[2016-10-07 06:15] spsid13 opened #124 "by default all tool frames have some value.. i think its broken."
I tried using direct entry method, but the values of w p and r are not changing.

[2016-10-07 11:52] neoaero99 commented on #124
All frames are by default 0, 0, 0, 0, 0, 0; what problem are you having with them?
What exact values did you input for the direct entry?

[2016-10-07 11:54] neoaero99 commented on #122
I do not know a way to create a bounding box for complex objects. Since, the center point of imported objects is ambigous, I cannot determine the bounds of the box.

[2016-10-07 14:46] skuhl commented on #122
If an axis-aligned bounding box will suffice, all you need to do is iterate through all of the vertices and take note of the largest X component, smallest X component, largest Y component, smallest Y component, etc that you encounter. You will end up with 6 numbers which define the bounds of the box. You can average the pairs of numbers together to get the center of the box. But, I don't understan

[2016-10-08 22:33] #124 closed, assigned to nobody

[2016-10-08 22:34] neoaero99 commented on #114
I generalized the keyboard entry for text entry screens.

[2016-10-08 22:34] #114 closed, assigned to nobody

[2016-10-08 22:37] neoaero99 commented on #117
If you press 'a' on your keyboard, you can cycle through the three types of axis displays:

1) display normal axes
2) display grid formed from axes
3) display no axes

[2016-10-08 22:37] #117 closed, assigned to nobody

[2016-10-08 22:59] neoaero99 commented on #123
In the Scenarios window, you can toggle Object display with the Hide button.

[2016-10-08 22:59] #123 closed, assigned to nobody

[2016-10-11 15:42] spsid13 opened #125 "register instructions"
step 1  I record a new point L p[1] 100% fine
step 2 I want to edit the P[1] and change it to Pr[3]
When I select the global register it does nothing..

[2016-10-11 17:48] neoaero99 commented on #125
Have you inputted a value for Pr[3]?

[2016-10-11 17:48] neoaero99 commented on #125
In other words, is Pr[3] already defined?

[2016-10-11 17:50] spsid13 commented on #125
Ohh no. 

Get Outlook for iOS

On Tue, Oct 11, 2016 at 1:48 PM -0400, "Neo Aero" notifications@github.com wrote:

In other words, is Pr[3] already defined?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-11 17:55] neoaero99 commented on #125
You cannot specify a position register that is uninitialized.

[2016-10-11 17:56] spsid13 commented on #125
I should be able to specify it but the program should give an error. Otherwise those registers become useless since they cannot be used as variables in register equations.

Get Outlook for iOS

On Tue, Oct 11, 2016 at 1:55 PM -0400, "Neo Aero" notifications@github.com wrote:

You cannot specify a position register that is uninitialized.

—
You are receiving this because you authored the thread.
Re

[2016-10-11 19:31] neoaero99 commented on #125
You can specify empty registers in register statements, you simply cannot specify empty position registers for motion instructions.

[2016-10-13 20:23] neoaero99 commented on #122
So, you no longer input the bounding box dimensions for complex shape parts, however, there is an issue with drawing complex shapes. I still need to figure out how to draw the shape inside the bounding box. Which will be another issue.

[2016-10-13 20:23] #122 closed, assigned to nobody

[2016-10-13 20:25] neoaero99 opened #126 "Complex/Imported Shape Rendering Inside Bounding Box"
I am not sure how PShapes are drawn exactly, so even though a part's bounding box can surround a complex shape, I cannot render the shape, so its center is the center of the bounding box.

[2016-10-13 20:28] neoaero99 commented on #118
Points recorded in a program do change with respect of the User frame. Though, there are still issues with converting between frames: see #116

[2016-10-13 20:28] #118 closed, assigned to nobody

[2016-10-16 11:48] neoaero99 commented on #126
Complex shapes are now drawn with their bounding boxes correctly.

[2016-10-16 11:48] #126 closed, assigned to neoaero99

[2016-10-16 12:18] neoaero99 commented on #125
You can now specific uninitialized global registers for motion instructions.

[2016-10-16 12:18] #125 closed, assigned to nobody

[2016-10-21 14:46] neoaero99 commented on #121
Also, call instructions have no save (or load) case either. And the motion instruction saving does not save the second point associated with circular instrucitons.

[2016-11-04 12:23] neoaero99 commented on #121
The If instruction has no saving or loading as well.

[2016-11-15 20:40] neoaero99 opened #127 "Copy/Paste modifications"
There should be an option to paste in copying menu. The copy menu should not exit once a copy has been established.

[2016-11-15 20:41] neoaero99 opened #128 "Instruction Options cursors"
The normal cursor and highlighting of selected lines should be different sizes.

[2017-01-04 05:54] vtdrusch commented on #85
Fixed cloning method for If statements and verified Select statement clone function is working, these methods should now be functioning correctly.

[2017-01-04 05:54] #85 closed, assigned to vtdrusch

[2017-01-04 05:55] vtdrusch commented on #97
I think this is no longer an issue, closing for now.

[2017-01-11 21:15] neoaero99 commented on #121
Saving/loading of if statements, register expression statements, and select statements are functional.

[2017-01-11 21:15] #121 closed, assigned to nobody

[2017-01-11 21:47] #113 closed, assigned to nobody

[2017-01-11 21:48] #44 closed, assigned to nobody

[2017-01-21 19:42] neoaero99 opened #129 "Blank Point Entry Menu"
Editing postion registers as well as the manual entry for frames yield a blank screen, when there should be rows for each value in the point (X, Y, Z, W, P, R).

[2017-01-21 19:44] neoaero99 opened #130 "Issue with Robot Motion Joint 1 motion"
Sometimes the Robot will stop moving when jogging joint 1 in the negative direction.

[2017-01-21 20:24] #129 closed, assigned to neoaero99

[2017-01-21 20:58] neoaero99 commented on #130
I added a margin error for when an angle is compared to the valid ranges for a joint, which solves the issue.

[2017-01-21 20:58] #130 closed, assigned to neoaero99

[2017-01-25 21:11] neoaero99 opened #131 "Add The Second Robot"
Siddharth and Alex want a second Robot to be in the program. There robot's should be within reach of one another, so that they can pass parts between each other. Also, the active Robot has the focus of the pendant. In addition, a new tab should be added to the top button tab to distinguish one Robot's pendant window from the other.

[2017-01-25 21:13] neoaero99 opened #132 "Add RO registers"
Similar to I/O registers, RO registers are binary values, which allow the Robot's to communicate with each other. For example, the active Robot can signal the other Robot to become active with a specific call instruction.

[2017-01-25 21:14] neoaero99 opened #133 "Add New Call Instruction"
The active Robot should be able to signal the inactive Robot to become active with an instruction call, which specifies the Robot to awaken and the program, which the Robot will begin executing.

[2017-01-25 21:18] neoaero99 opened #134 "Add Save State for Program execution"
Since, a Robot can become inactive in the middle of program execution (when it calls the other Robot with an instruction), we should save the active program for each Robot and the next instruction to be executed by a Robot as well.

[2017-02-01 19:35] #131 closed, assigned to neoaero99

[2017-02-08 20:53] #132 closed, assigned to nobody

[2017-02-08 20:53] #134 closed, assigned to nobody

[2017-02-13 22:25] neoaero99 opened #135 "If Statement Logic Error"
I have noticed an error with if statement logic.

I have a command in a program:

if r[5] > 10 : jump lbl[2]

However, when the r[5] >= 10, the if statement does not issue the jump command.

[2017-02-13 22:26] neoaero99 opened #136 "Delete Option Removes Everything"
Every time I try to delete a single line from a program, all the instructions in the program are deleted instead.

[2017-02-13 23:20] neoaero99 commented on #135
I believe the error actually lies with the evaluation of the If Statement itself.

[2017-02-13 23:54] neoaero99 commented on #135
I have solved the problem

[2017-02-13 23:54] #135 closed, assigned to neoaero99

[2017-02-14 14:16] neoaero99 commented on #136
So, I believe the problem is actually that selecting a line to delete removes all lines below the selected line as well as the selected line.

[2017-02-15 02:00] vtdrusch commented on #136
I see the problem, deletion now works as intended.

[2017-02-15 02:46] vtdrusch commented on #76
These functions are complete.

[2017-02-15 02:46] #76 closed, assigned to nobody

[2017-02-15 02:47] vtdrusch commented on #72
Finished implementing this feature.

[2017-02-15 02:47] #72 closed, assigned to nobody

[2017-02-15 13:02] neoaero99 commented on #136
It still doesn't work

[2017-02-15 13:05] #136 closed, assigned to nobody

[2017-02-17 22:00] neoaero99 opened #137 "SHIFT and navigating contents"
I have been having trouble with navigating views, where shift can move nultiple lines. The error is specifically with the toggleSelect() method in MenuScroll, which is throwing a NullPointerException.

When I try to move, when shift is active, the cursor will not respond, however, when I turn shift off, then the cursor jumps multiple lines.

[2017-02-26 01:08] spsid13 opened #138 "let there be only one robot when the software begins.."
ONly when the user wants a second robot he should click and introduce the second robot into the environment

[2017-02-26 01:48] neoaero99 commented on #138
What should I do about robot call instructions, then?

[2017-02-26 01:48] #133 closed, assigned to neoaero99

[2017-02-26 02:20] spsid13 opened #139 "The second robot is getting lost in the camera view"
![ggt](https://cloud.githubusercontent.com/assets/17214301/23336505/299ce5e8-fba0-11e6-9819-07124d97c316.PNG)

[2017-02-26 03:39] spsid13 commented on #138
Let them be there... They will work only when there are two robots
implemented

On Sat, Feb 25, 2017 at 8:48 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-02-26 18:12] neoaero99 commented on #139
Yeah, I figured I would have to fix the camera soon or later.

[2017-03-01 14:53] neoaero99 commented on #137
I fixed the issue

[2017-03-01 14:53] #137 closed, assigned to nobody

[2017-03-01 14:54] neoaero99 commented on #139
I managed to extend the camera view, so the robot should no longer be clipped by the camera. However, if you move world objects too far away from robots, then they will be clipped by the camera.

[2017-03-01 14:54] #139 closed, assigned to neoaero99

[2017-03-01 18:31] vtdrusch commented on #127
Implemented this change, closing.

[2017-03-01 18:31] #127 closed, assigned to nobody

[2017-03-01 18:31] vtdrusch commented on #128
This has been implemented, closing.

[2017-03-01 18:31] #128 closed, assigned to nobody

[2017-03-01 18:32] vtdrusch commented on #97
Still seems to be a problem with reverse execution, will look into this.

[2017-03-01 20:47] neoaero99 opened #140 "Edit Button"
The Edit button on the pendant should open up the active robot's active program.

[2017-03-01 20:49] neoaero99 commented on #138
The second robot should be toggeable. The button tab and and the robot rendering should update.

[2017-03-03 14:08] neoaero99 commented on #97
I fixed the button functionality

[2017-03-03 14:08] #97 closed, assigned to nobody

[2017-03-03 14:08] neoaero99 commented on #140
The edit button now references the active program.

[2017-03-03 14:08] #140 closed, assigned to nobody

[2017-03-06 01:26] neoaero99 commented on #138
The second robot is now toggable.

[2017-03-06 01:26] #138 closed, assigned to neoaero99

[2017-03-07 14:52] neoaero99 opened #141 "Issue with UP and DOWN in Program Navigation"
I have noticed that moving up and down in the program navigation is not working correctly. I have three program, however, when I press down repeatidly, the highlightin switchs between only the first and second programs. I believe it is an issue with the lineSelect boolean array.

[2017-03-08 15:16] neoaero99 commented on #141
The issue was caused by a false screen update when no program is running.

[2017-03-08 15:16] #141 closed, assigned to nobody

[2017-03-12 14:08] spsid13 opened #142 "Usability Features"
1) Can we change the color of the cursor when we select a line to delete or copy?
2) give the names of the operation in brackets beside the corresponding the operators like remainder modulus etc.

[2017-03-16 23:46] spsid13 opened #143 "World Object Color Edit"

[2017-03-17 18:31] neoaero99 commented on #120
I still need to add information for:

1. Backwards button
2. If-Statement instruction
3. RobotCall instruction
4. Managing two robots

[2017-03-19 17:16] spsid13 opened #144 "unable to save scenario"
I created a scenario called gg..
then clicked on load
then created a fixture
pressed cntrl+s to save
then went on scenario tab clicked on save
then again selected the scenario gg and pressed load
my fixture does not load..

[2017-03-20 00:58] neoaero99 commented on #144
I managed to fix scenario saving. Also, there is an undo feature now to replace my sketchy saving method for scenarios. You can undo up to the past ten edits or deletes for the current active scenario with the u key.

[2017-03-20 00:58] #144 closed, assigned to nobody

[2017-03-20 00:58] neoaero99 commented on #102
I finally got around to this.

[2017-03-20 00:58] #102 closed, assigned to nobody

[2017-03-20 01:10] spsid13 commented on #144
Great thanks josh

Get Outlook for iOS

On Sun, Mar 19, 2017 at 8:58 PM -0400, "Joshua Hooker" <notifications@github.com> wrote:

I managed to fix scenario saving. Also, there is an undo feature now to replace my sketchy saving method for scenarios. You can undo up to the past ten edits or deletes for the current active scenario with the u key.

—
You are receiving this because you authored the th

[2017-03-20 17:28] vtdrusch commented on #142
Adding: include keyboard support for various controls (arrow keys, shift, enter, etc.)

[2017-03-21 15:26] spsid13 opened #145 "copy paste"
unable to paste at the end line...

[2017-03-21 16:11] spsid13 opened #146 "I know we discussed about the bwd.. it isnt working yet right? we should get it to work"

[2017-03-21 16:12] neoaero99 commented on #146
Yeah, it should be working. Although, it is kinda of weird. Since executing
a motion instruction increments the cursor, bwd jumps back to instructions.

On Tue, Mar 21, 2017 at 12:11 PM, spsid13 <notifications@github.com> wrote:

[2017-03-22 15:30] spsid13 opened #147 "highlight the X Y Z alphabets along with axes for parts and fixtures"

[2017-03-22 15:30] spsid13 opened #148 "write PR instead of R in position registers window"

[2017-03-22 15:32] spsid13 opened #149 "position register is currently changed from joint to cartsian by pressing shift."
this should be changed and made easily accessible. Also it does not save the register values in the type.. we should save it in that form.

[2017-03-22 15:37] neoaero99 commented on #149
What do you mean by "save the register values in the type"? A position
register is saved as both types regardless of the type you see displayed.

On Wed, Mar 22, 2017 at 11:32 AM, spsid13 <notifications@github.com> wrote:

[2017-03-22 15:45] #146 closed, assigned to nobody

[2017-03-22 16:11] #148 closed, assigned to neoaero99

[2017-03-22 20:42] #147 closed, assigned to neoaero99

[2017-03-22 21:57] neoaero99 opened #150 "World Object Default"
A world object should have a default position and orientation associated with it that the user can specify in a  similiar fashion to its current position and orientation.

[2017-03-22 21:59] neoaero99 opened #151 "Robot Continuous Motion"
Apparently the Robot may continue to move even after Shift is set off and no motion button is active.

[2017-03-22 22:00] #115 closed, assigned to nobody

[2017-03-22 22:01] neoaero99 commented on #104
I removed some Bounding boxes that are unnecessary and only the Suction and Claw gripper need bounding boxes.

[2017-03-22 22:01] #104 closed, assigned to nobody

[2017-03-25 13:11] spsid13 opened #152 "should be able to edit the values of a recorded point"

[2017-03-25 13:59] neoaero99 commented on #152
Do you mean recorded points for motion instructions?

[2017-03-25 14:07] spsid13 commented on #152
Yes

Get Outlook for iOS

On Sat, Mar 25, 2017 at 9:59 AM -0400, "Joshua Hooker" <notifications@github.com> wrote:

Do you mean recorded points for motion instructions?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-25 14:09] neoaero99 commented on #152
Already an issue, see #111

[2017-03-25 14:09] #152 closed, assigned to nobody

[2017-03-25 14:09] #149 closed, assigned to nobody

[2017-03-25 14:10] spsid13 commented on #152
Ohh sorry. But it's important that we resolve this one :)

Get Outlook for iOS

On Sat, Mar 25, 2017 at 10:09 AM -0400, "Joshua Hooker" <notifications@github.com> wrote:

Already an issue, see #111

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-25 14:11] neoaero99 commented on #152
That is alright, I forgot that we even had an issue for it until now.

[2017-03-25 17:02] #151 closed, assigned to nobody

[2017-03-26 13:56] #111 closed, assigned to nobody

[2017-03-30 14:59] neoaero99 opened #153 "Change Import Field Type"
The complex model source field is currently a text field input. It should be changed to a drop down list of all models in the data sub directory for the ease of the user.

[2017-03-31 14:11] #150 closed, assigned to neoaero99

[2017-04-05 16:42] neoaero99 opened #154 "Keyboard entry for Positions"
I would like to refactor the keyboard input for number entry menus, so that it is more modular and allows for editing positions as well as single value number entries.

[2017-04-05 16:43] neoaero99 commented on #143
Allow the color of a world object to be edited after it is created.

[2017-04-05 17:41] #120 closed, assigned to neoaero99

[2017-04-05 20:41] neoaero99 opened #155 "Edit Window Default Filled Fields"
When an object is selected in the edit window, then all its fields should be filled with its current values. We will need another autofill button for this.

[2017-04-05 20:44] neoaero99 opened #156 "World Object Editing Position/Orientation"
When specifying the position of a world object in the edit window, the position change should be in terms of the object's current orientation, not its parent's orientation.

[2017-04-05 20:47] neoaero99 commented on #153
After discovering that the ControlP5 repository recommends using a ScrollableList instead of dropdown list, I will replace all my dropdown lists before fixing the import field.

[2017-04-11 00:22] #153 closed, assigned to neoaero99

[2017-04-11 22:34] #155 closed, assigned to neoaero99

[2017-04-16 21:58] #154 closed, assigned to neoaero99

[2017-04-28 22:36] spsid13 opened #157 "Textfield Keydown Functions"

[2017-04-28 22:38] spsid13 opened #158 "move all parts to default key"
so in the scenario tab we can introduce a button to press so that all parts just move to the default positions

[2017-04-28 22:40] spsid13 opened #159 "Renaming Scenarios"

[2017-04-28 22:41] neoaero99 commented on #91
Finally fixed this ...

[2017-04-28 22:41] #91 closed, assigned to nobody

[2017-04-28 22:42] neoaero99 commented on #159
As of now you can remove a scenario by simply taking it out of the scenarios folder in the data directory. Do you still want a function in the software as well?

[2017-04-28 22:45] spsid13 commented on #159
I dont want to remove it but just rename it.. so suppose someone creates a
scenario and wants to rename it...

On Fri, Apr 28, 2017 at 6:42 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-04-28 22:46] spsid13 commented on #91
hahah awesome (y)

On Fri, Apr 28, 2017 at 6:41 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-04-28 22:47] neoaero99 commented on #159
Ah, you can rename the file as well.

[2017-04-28 22:48] neoaero99 commented on #159
Actually, I do store the active scenario name, so we should have a function in the software as well

[2017-04-28 23:22] spsid13 opened #160 "teach pendant labelling for joint motion lets put +J1 -J1 and so"

[2017-04-28 23:23] neoaero99 commented on #160
You mean remove the X+ and Y-?

[2017-04-28 23:24] neoaero99 commented on #158
Done

[2017-04-28 23:24] #158 closed, assigned to nobody

[2017-04-28 23:25] neoaero99 commented on #157
Holding the backspace key down should continually remove characters in a text field.

[2017-04-28 23:30] spsid13 commented on #160
no let that be there but instead of having J1 and J1 on +X and -X make it
+J1 and -J1

On Fri, Apr 28, 2017 at 7:23 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-04-28 23:30] spsid13 commented on #157
also holding the arrow key should work the same way

On Fri, Apr 28, 2017 at 7:25 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-04-28 23:38] neoaero99 commented on #160
So, you want the signs on the Joints? Isn't that implied by the sign on the axis portion of the label?

[2017-04-28 23:48] spsid13 commented on #160
It is I agree but I am not sure from a completely new users perspective. ok
lets keep it that way..

On Fri, Apr 28, 2017 at 7:38 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-04-29 21:43] spsid13 opened #161 "Previous Line Memory for Program Instruction Navigation"
So you press F2(new inst) and then select IO[suction] = off
the cursor on the programming window goes to the first line.
it should automatically go to the current line.

[2017-04-30 17:44] spsid13 opened #162 "Issue with Loading/Displaying Program Instructions"

[2017-04-30 17:48] spsid13 opened #163 "have the IO key on Teach pendant toggle IO on and off"

[2017-04-30 18:03] spsid13 opened #164 "update default is not moving the current values to default values"

[2017-04-30 19:22] neoaero99 commented on #162
There is an issue tha rarely occurs when you load a program: an IndexOutOfBoundsException thrown in the arrow_up function.

[2017-04-30 19:25] neoaero99 commented on #163
Whoops

[2017-04-30 19:25] #163 closed, assigned to nobody

[2017-04-30 19:26] #160 closed, assigned to nobody

[2017-04-30 19:28] neoaero99 commented on #164
How so? I just tried it and it worked fine.

[2017-04-30 19:36] neoaero99 commented on #164
Were you having trouble with the orientation values? I just fixed it.

[2017-04-30 20:10] #159 closed, assigned to neoaero99

[2017-04-30 20:41] spsid13 commented on #164
It works for one object i created but for a cylinder it doesnt seem to wrk

On Sun, Apr 30, 2017 at 3:36 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-04-30 20:42] neoaero99 commented on #164
What is wrong?

On Apr 30, 2017 16:41, "spsid13" <notifications@github.com> wrote:

[2017-04-30 21:15] spsid13 commented on #164
not sure..will show it to you if we can meet tomorrow

On Sun, Apr 30, 2017 at 4:42 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-04-30 21:16] neoaero99 commented on #164
Alright

On Apr 30, 2017 17:15, "spsid13" <notifications@github.com> wrote:

[2017-05-01 13:30] #116 closed, assigned to nobody

[2017-05-01 14:48] neoaero99 opened #165 "Continuous Motion Glitch"
When runnning through many motion instructions, the robot arm may glitch and the software can begin to consume a large amount of the CPUs resources (core procssing power and memory).

[2017-05-01 14:49] #164 closed, assigned to neoaero99

[2017-05-01 15:14] neoaero99 opened #166 "I/O Instruction creation"
The user should be able add an I/O instruction as either on or off.

[2017-05-01 15:18] neoaero99 opened #167 "Undo in program editing"
We should have an undo function in the program instruction editing.

[2017-05-01 17:05] #166 closed, assigned to nobody

[2017-05-01 22:40] neoaero99 commented on #100
There is an issue with inverse kinematics: when the speed is too slow, sometimes the robot halts for a time before continuing to move.

[2017-05-02 14:30] spsid13 opened #168 "circular instruction problem"
so lets say
I record starting point
L P1 500mm/s fine
then i go to intermediate
C P2 500mm/s Fine
then i record final point
  :P3 500mm/s Fine
When I record the next point which is supposed to be
L P4 500mm/s fine   instead it labels it as P3 and records new location to P3

[2017-05-02 14:32] spsid13 commented on #168
Also when you go to : P3 500mm/s and try to click shift + new pt it changes the label of P3 instead of updating it.

[2017-05-02 14:37] spsid13 opened #169 "Recording new point is broken"
this problem needs to be demonstrated for better explaination

[2017-05-02 18:40] neoaero99 commented on #169
I fixed the new point numbering issue.

[2017-05-02 18:40] #169 closed, assigned to neoaero99

[2017-05-02 19:05] neoaero99 commented on #168
Fixed this issue too.

[2017-05-02 19:05] #168 closed, assigned to neoaero99

[2017-05-03 14:02] neoaero99 opened #170 "Mouse Click Responsiveness"
After doing some research into ControlP5 mouse events, I believe I found out why you need to sometimes double click controllers (i.e. dropdownlists, buttons, etc.).

Bascially, if you move the mouse, **even the slightest bit**, between pressing and releasing the mouse on a controller, then the controller is not activated. Hence, If you try to quick click on controllers, then you are more likely to

[2017-05-03 14:15] neoaero99 commented on #161
Once an operation (i.e. adding a new instruction, point, or editing an instruction, deleting lines, etc.) has been completed in a program's instruction navaigation screen, then the program should return to the line that was active before the operation was performed (see Siddharth's comment above).

[2017-05-03 17:10] spsid13 opened #171 "pressing y gives a different robot default position compared to the position you see when the software is opened"

[2017-05-03 17:10] neoaero99 commented on #171
That is a developer shortcut for testing

[2017-05-03 17:10] #171 closed, assigned to nobody

[2017-05-03 17:28] spsid13 commented on #171
we should give that to use as well

On Wed, May 3, 2017 at 1:10 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-05-04 15:01] neoaero99 commented on #170
Buttons, ButtonBars, and Dropdown lists have drag click functionality (Textfields already had it for whatever reason). So, the UI should greater responsiveness to mouse clicks on these controllers.

[2017-05-04 15:01] #170 closed, assigned to neoaero99

[2017-05-05 19:13] #167 closed, assigned to neoaero99

[2017-05-05 23:41] spsid13 opened #172 "Register Expression P[x, y] Insertion Menu Display Glitch"
![file-2](https://cloud.githubusercontent.com/assets/17214301/25767832/d710a92a-31ca-11e7-9ff0-3703d6a2eee7.jpeg)

[2017-05-05 23:44] spsid13 commented on #172
it worked fine.

[2017-05-08 13:20] neoaero99 commented on #172
After replicating Siddharth's issue, I have found that the menu functions fine. So, you can still input the two integer values for x and y.

However, the prompt line, in options, is not rendered on the pendant. I checked the options menu and found that the prompt line exists in the MenuScroll, but is still not rendered on the pendant.

In addition, if you edit a P[x, y] expression element with F4,

[2017-05-10 20:08] #172 closed, assigned to neoaero99

[2017-05-10 20:08] #161 closed, assigned to nobody

[2017-05-10 20:18] neoaero99 opened #173 "Fix Part Movement"
Currently, on the current branch, moving a part associated with a fixture is broken.

[2017-05-14 12:42] neoaero99 commented on #173
Part motion works again

[2017-05-14 12:42] #173 closed, assigned to neoaero99

[2017-05-15 14:56] neoaero99 commented on #142
I have added various things, for which you asked, Siddharth.

[2017-05-15 14:56] #142 closed, assigned to nobody

[2017-05-15 15:37] neoaero99 commented on #145
You can now paste at the end line

[2017-05-15 15:37] #145 closed, assigned to nobody

[2017-05-16 20:40] neoaero99 commented on #157
So, key down functionality exists for textfields, however, now I have to find a good interval for updating the text-fields to balance the length of time required to append characters and reduce the risk of double-typing.

[2017-05-16 20:41] neoaero99 commented on #103
This has been fixed, probably for a while, now.

[2017-05-16 20:41] #103 closed, assigned to nobody

[2017-05-17 19:54] neoaero99 opened #174 "Trace function"
The user should be able to generate a trace of the active robot's end effector position, while the robot is moving. The user should also be able to set the trace on or off.

[2017-05-17 19:54] neoaero99 commented on #157
Key down functionality is finally completed for text fields ...

[2017-05-17 19:54] #157 closed, assigned to neoaero99

[2017-05-18 19:12] vtdrusch opened #175 "Camera contrast calculation w/ lighting and exposure values"
The RobotCamera should model the contrast ratio between an object and its background based on lighting and camera exposure time. Too little lighting results in a darkened image, while too much lighting results in an over-saturated image, both of which diminish object-background contrast. Increased exposure time can improve contrast in low light situations, though this can also cause blurring if th

[2017-05-18 19:15] vtdrusch opened #176 "Teaching objects to the RobotCamera"
Before the RobotCamera can recognize an object, the object should be taught to the camera by photographing a prototypical example of the object in question.

[2017-05-18 19:22] vtdrusch opened #177 "RobotCamera instructions"
The robot should have a set of instructions it can use to work in conjunction with the RobotCamera. Functionality should include:

-Capturing a "photo" of a scene using the camera (e.g. objects[] CameraPhotograph[camera])
-Being able to test one or more objects in an image against a previously taught object prototype to determine whether the objects match (e.g. boolean CompareObject[object_prototy

[2017-05-18 19:37] vtdrusch opened #178 "RobotCamera mark areas of interest/ areas to ignore"
When considering objects using the RobotCamera, it can be advantageous to specify areas of a previously taught object prototype that we would like the camera to pay specific attention to or ignore altogether. We don't necessarily need to allow the user to dynamically select these areas (it may be easier to simply have pre-defined areas for certain objects that the user can toggle selection on), bu

[2017-05-18 19:39] vtdrusch commented on #174
Internal code for creating a trace line when moving the robot is working, now just need a menu button and/or instruction to toggle the trace generation on/ off.

[2017-05-24 20:54] neoaero99 opened #179 "Bounding Box Collision Issue"
I have noticed that in certain orientations, two bounding will seem to be colliding, even though they are actually not touching. I will have to look into this.

[2017-05-25 12:15] neoaero99 commented on #179
I found the issue: the calculations for collisions assume row major rotation matrices.

[2017-05-25 13:25] neoaero99 commented on #179
I managed to convert the column major orientation matrices to row major orientation for the purposes of collision detection.

[2017-05-25 13:25] #179 closed, assigned to neoaero99

[2017-05-26 18:55] neoaero99 opened #180 "Euler Angle Nonsense"
So, I noticed that specifically the euler angle set rx=45, ry=0, rz=-90 degrees does convert properly. It did before May 23rd and I would suspect it worked before we changed our euler angle conversion method. Also, I am not sure what other orientations do not work properly.

[2017-05-27 19:34] spsid13 opened #181 "the values in the left side of image do no correspond to the axis shown on the right"
when I enter the value to move in the x position which coordinate system is it considering? I feel it should consider its own coordinate system that is highlighted so that its easier for user to enter the position values.
![capture](https://cloud.githubusercontent.com/assets/17214301/26523917/7bc379b6-42f1-11e7-9331-036e8f4a0502.JPG)

[2017-05-27 20:50] neoaero99 commented on #181
There is already an issue for this #156

[2017-05-27 20:50] #181 closed, assigned to nobody

[2017-05-27 21:05] spsid13 opened #182 "for position register overwrite point and new point act as the same thing"
when i move the cursor to a line L PR[5] 500mm/s Fine and press shift + new pt or shift + over pt then the Position register number should not change and it  should only update the position of the position register.

[2017-05-27 21:08] spsid13 opened #183 "Offset instruction menu streamlining"

[2017-05-27 21:17] neoaero99 commented on #182
Wait a minute, then what is the point of shift + over pt? Isn't shift + new pt supposed to define a new point?

[2017-05-27 21:20] spsid13 commented on #182
that is for positions.... for position registers it should be different

On Sat, May 27, 2017 at 5:17 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-05-27 21:20] neoaero99 commented on #182
Ah

[2017-05-28 18:16] vtdrusch opened #184 "Object creation menu should warn user when no scenario is selected"
Creating objects is a likely source of confusion for future users due to the lack of warnings/ error messages when users try to create objects with no active scenario. Although we do make mention of the fact that a scenario has to be loaded before objects can be created in our reference manual, there should still be some  on-screen message to remind users of this.

[2017-05-29 20:57] vtdrusch commented on #183
Currently, the process to enable offsets for motion instructions is to highlight the third column of a motion instruction (P[ / RP[), press F5 ([Reg]), and then press F5 again ([Offset]). The offset function should be working, but the process to enable it could use some simplification; we'll look into that.

[2017-05-29 22:34] vtdrusch commented on #183
I did have to make minor corrections to the joint-mode offset motion, as well as fix an issue where the user was unable to select the first offset register when adding an offset. I'll push these updates in a build tonight.

[2017-06-01 16:45] spsid13 opened #185 "the EE button is missing"
Hi guys,
The EE button is missing coulf you fix it and let me know

[2017-06-01 16:49] neoaero99 commented on #185
I know, I removed it. You can switch the end effector with Ctrl+E or go to the miscellanous menu and select it with the dropdown

[2017-06-01 16:49] #185 closed, assigned to nobody

[2017-06-01 16:50] neoaero99 commented on #185
I am sorry, I forgot that Vincent pushed a new build, so I should have told you, Siddharth.

[2017-06-01 17:04] spsid13 commented on #185
ok cool

[2017-06-01 21:09] #182 closed, assigned to neoaero99

[2017-06-02 13:38] spsid13 opened #186 "user frame creation"
when we record all the points of a tool frame or user frame after all the points have been recorded, a message should ask the user to press enter on the teach pendant.

[2017-06-02 18:07] spsid13 opened #187 "Position Offset Still Not Correct"
If you go to data and then position register. and then save a position to that register.
Now there is EDIT option on the right most side of that line. when I go there and press enter
I should be able to see the values but it doesn't show any. Also, like i mentioned earlier we need an option to change the representation of that position register from joint to linear and vice versa.

[2017-06-02 18:23] neoaero99 commented on #187
You can change the position register type with F3, when shift is off. Also, you must be in the second column of the pendant screen to edit the position register. The first column with take you to the comment edit.

[2017-06-02 18:24] neoaero99 commented on #187
What happens when you press enter over the position register? Do you get a blank screen? Could you send me you position register file?

[2017-06-02 18:28] spsid13 commented on #187
It shows this when i press enter. How do you want me to send you the
position register file?
[image: Inline image 2]

On Fri, Jun 2, 2017 at 2:24 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-06-02 18:30] spsid13 commented on #187
Hey Josh..
so when i recorded the position to position register it was in world mode
and when I change the type to cartesian I can see the positions but when i
change it to joint I see all zero.

On Fri, Jun 2, 2017 at 2:27 PM, Siddharth Parmar <syparmar@mtu.edu> wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-06-02 18:32] neoaero99 commented on #187
Did you record the robot's default position?

[2017-06-02 18:34] spsid13 commented on #187
ok pick up my call.. it will be much easier to solve the issue.

On Fri, Jun 2, 2017 at 2:32 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-06-02 20:14] neoaero99 commented on #187
So, I found some deeper issues with the position offset that need to be addressed. Namely, we CANNOT simply add both the joint angles and the position and orientation together. You can only do either or and use inverse kinematics or forward kinematics to find the other values.

Also, we do not actually save the offset value for motion instructions, so yeah that need to happen.

[2017-06-02 20:18] neoaero99 opened #188 "Point Adding for Expressions"
After finding issues with position offsets, I found that we were simply adding all the fields of two points together for the addition instructions, which is incorrect. For the position expression elements, we need a reference to the position register, the point is associated with to know whether to add the joint angles together or the cartesian values and use inverse or forward kinematics to find

[2017-06-05 15:01] #188 closed, assigned to nobody

[2017-06-13 14:40] neoaero99 opened #189 "Interpolation Point Calculation"
Due to how we calculate the number of points for interpolation of a circular motion instruction  (radius of circle * angle between the start and end point / distance between points) there are certain situations where the number of points for the interpolation will reach ~30000000. Natuarlly, the program freezes as it tries to computes all the points, which is not good.

I do not know if this happe

[2017-06-13 14:43] neoaero99 opened #190 "Large Offset Causes Program Freeze"
If you have a large offset defined for a motion instruction and you try to execute the instruction, then the robot's motion will begin to slow drastically for a period of time. I am not sure if this is related to #189, but it is an important issue as well.

The strange part is that if you run the move to (f4) command in the position menu for the large offset, the robot runs normally until it hits

[2017-06-13 18:23] neoaero99 opened #191 "Modify equality and inequality operators to work with boolean operands?"
The evaluation of IO register in if statements is non-functional. I tried a simple expression:

IO[4] = IO[3]

however, the if statement failed to evaluate.

[2017-06-13 18:23] neoaero99 opened #192 "IO Register Statements"
Currently, you cannot use boolean expression operators in register expressions for IO registers. We may want to add this.

[2017-06-13 19:04] neoaero99 commented on #187
In general, offsets have been fixed.

[2017-06-13 19:04] #187 closed, assigned to neoaero99

[2017-06-13 19:04] neoaero99 commented on #174
Trace functionality can be toggled in the miscellanous menu now.

[2017-06-13 19:04] #174 closed, assigned to nobody

[2017-06-13 19:05] neoaero99 commented on #183
Offset menu interactions now resemble that of a motion instructions position.

[2017-06-13 19:05] #183 closed, assigned to nobody

[2017-06-13 19:09] neoaero99 commented on #69
Issues #186 and #184 can be resolved with the implementation of a more generic message display system.

[2017-06-15 15:25] #189 closed, assigned to neoaero99

[2017-06-15 18:00] neoaero99 commented on #190
I believe I found the root cause of the issue. Since getVector() applies the offset and removes the user frame from the position defined by a motion instruction's position, calling this method too often can stress the software processing. Furthermore, this method is called whenever the pendant screen is updated in the program instruction navigation menu (to determine whether to insert an '@' for a

[2017-06-15 18:00] #190 closed, assigned to neoaero99

[2017-06-16 19:57] neoaero99 commented on #100
For both linear interpolation and joint interpolation, the margin of error has been reduced, since this issue was open. In addition, the speed of the robot's motion is taken into account for determining when the robot is close enough to its destination.

No matter what, there will always be a margin of error (particularly for linear interpolation), however, I am closing this issue for now.

[2017-06-16 19:57] #100 closed, assigned to nobody

[2017-06-22 18:24] neoaero99 opened #193 "Marco Issues"
I have found many instances, where I get index of bounds errors when trying to execute a user key or manual function program.

Also, macros should be saved, so that they persist after an application is closed.

[2017-06-22 23:07] spsid13 opened #194 "copy and paste"
when I try to copy.. the cursor moves to the first line automatically. Its better if it stays in the current position.

[2017-06-22 23:10] spsid13 opened #195 "PR[x, y] Operand Multiple Column Edit"
If you create an expression
PR[2,2] = Pr[2,**2**] + 50
the point index on the right expression cannot be edited directly.
If you press edit you have to enter the register index first and then point index even if the cursor is on the point index.
but for expression on the left it works fine. so try to implement the same function on the right.

[2017-06-22 23:12] spsid13 opened #196 "undo does not work well"
I tried to cut a line and paste it.
and then tried to undo.. it failed.

[2017-06-23 12:52] neoaero99 opened #197 "Register NaN values"
So, I stumbled across an issue, where if you use an uninitialized register in an expression, then instead of the expression failing, the value used for the register is NaN, which is not good.

[2017-06-23 13:02] neoaero99 opened #198 "Jump Label"
You should be able to set the label number for undefined labels. If the label does not exists, then the jump instruction should simply fail.

[2017-06-23 13:24] spsid13 opened #199 "LPOS and JPOS"
These two are the current position of the TCP. and they need to be implemented in the register instructions.
![capture](https://user-images.githubusercontent.com/17214301/27484049-c1bbda9e-57f5-11e7-9862-4c2f9226bd7d.JPG)

[2017-06-23 17:13] neoaero99 commented on #199
LPos and JPos are part of the pre-release build

[2017-06-23 17:13] #199 closed, assigned to neoaero99

[2017-06-23 17:30] neoaero99 commented on #197
Expression evaluation has been updated on some of the development branches.

[2017-06-23 17:30] #197 closed, assigned to neoaero99

[2017-06-23 17:50] neoaero99 commented on #143
Color editing exists in most development branches

[2017-06-23 17:50] #143 closed, assigned to nobody

[2017-06-25 20:06] spsid13 opened #202 "Initialize a position register to 0"
So, If I have recorded a Position register and I go to edit the register position values X,Y,Z,W,P,R
then we can give an option to just make all these values zero by pressing F3.

[2017-06-25 20:12] spsid13 opened #203 "Also how easy it would be for you to export programs into .txt format?"

[2017-06-25 20:22] neoaero99 commented on #202
F1 already clears a register, however, it uninitializes the register as well. I can replace that functionality with the reset functionality. However, F3 already has two functions, so I would have to put it on a different function button.

[2017-06-25 20:24] neoaero99 commented on #203
Exporting a program to a text file would not be hard. However, we need to know what format is required for the text (i.e. how should each instruciton be outputted). I am not sure about other file types.

[2017-06-25 20:27] spsid13 commented on #203
The same as it looks on the screen..
Each line with serial number its like printing the program

[2017-06-25 20:27] spsid13 commented on #202
When you go into EDIT then none of the F keys have anything assigned

[2017-06-25 20:29] spsid13 opened #204 "Delete is still not friendly"
So we should also have something talking about deleting multiple lines press shift + enter
Now here's the thing If I want to delete lines 1-5
I press enter while the cursor is on line 1
then I go down to line 5 and now press Shift and enter
It does not delete all 5 lines. Not sure why.

[2017-06-25 20:30] neoaero99 commented on #202
Oh, you mean in the edit menu, ok

On Jun 25, 2017 16:28, "spsid13" <notifications@github.com> wrote:

[2017-06-26 14:53] neoaero99 commented on #198
The jump label index restriction has been lifted on the limbo branch

[2017-06-26 14:53] #198 closed, assigned to nobody

[2017-06-26 14:54] neoaero99 commented on #202
The reset function has been added in the limbo branch

[2017-06-26 14:54] #202 closed, assigned to neoaero99

[2017-06-26 16:12] spsid13 opened #209 "Urgent fix needed for position register"
position register 2 is linked to position register 3.

I change the values of Position register 2 in the program but in the DATA position register 3 values change too. could you check fix and upload again?

[2017-06-26 16:14] neoaero99 commented on #209
Did you use a register expression? If so,what did the expression you use look like?

[2017-06-26 16:18] spsid13 commented on #209
check email I sent tmp folder.

[2017-06-26 16:24] neoaero99 commented on #209
How far am I supposed to go through the program?

[2017-06-26 16:26] spsid13 commented on #209
not too far.. you can see after the gluing1 program is completed the PR[3]
changes

On Mon, Jun 26, 2017 at 12:24 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-06-26 18:32] neoaero99 commented on #209
The register reference issue is fixed in the master branch and in version 1.0.4

[2017-06-26 18:32] #209 closed, assigned to nobody

[2017-06-27 14:37] spsid13 opened #212 "I think we need a small addition for the IF statement"
We need the AND and OR statements to be implemented. Let me know how difficult this is and how long will it take?

![capture](https://user-images.githubusercontent.com/17214301/27593198-87e7fec4-5b24-11e7-8430-3975725edc61.JPG)

[2017-06-27 14:54] neoaero99 commented on #212
Currently, we do have AND and OR functionality and you can compare two sub-expressions with AND and OR, though, I am not sure if it is fully functional or how buggy it is.

[2017-06-27 16:29] spsid13 commented on #212
Without it I am forced to create 3 programs for the gluing scenario which is becoming complicated.. If you can get it to work I can finish the whole code in just 20 lines of 1 program...

[2017-06-27 19:45] neoaero99 commented on #204
So, I want to get this whole shift select thing straight.

If you press shift and enter on a line select menu, then all elements between the last element you selected and the current element you selected should be selected/unselected.

Is that correct?

[2017-06-27 19:56] neoaero99 commented on #194
All option menus keep the active line of the program navigation menu now, in the limbo branch.

[2017-06-27 19:56] #194 closed, assigned to nobody

[2017-06-27 19:59] neoaero99 commented on #204
I have added in a shift + enter functionality for line select menus like the delete option menu (for some reason the origin shift + enter functionality that Vincent made has been lost).

How it works is that, when you press enter, while shift is on, all lines from the last line you selected to the current line you selected are selected/unselected.

[2017-06-27 20:00] neoaero99 commented on #204
Although, this functionality is not on the master branch, so until Vincent and I have tested the screens more on our development branch, you will not see this change in a release.

[2017-06-29 14:30] spsid13 opened #215 "Issues with release 1.1.0"
unable to copy paste programs....
are other things also broken in this release???

[2017-06-29 14:58] vtdrusch commented on #215
I'll upload a new build with a fix for this.

[2017-06-29 14:58] #215 closed, assigned to nobody

[2017-06-29 22:25] spsid13 opened #216 "paste is not working as before.. it is introducing new lines after pasting..."

[2017-06-29 22:34] spsid13 commented on #216
Also the cursor does not stay at the pasted line position whereas it should

[2017-06-29 22:49] spsid13 opened #217 "enable trace doesnt seem to work"

[2017-06-29 23:23] vtdrusch commented on #216
I'm issuing a new build that fixes these issues right now.

[2017-06-29 23:23] #216 closed, assigned to nobody

[2017-06-30 13:56] neoaero99 commented on #217
I have uploaded a new build, which fixes the issues with the trace and OBB buttons. Also, I added the I/O trace relation we talked about earlier.

[2017-06-30 13:56] #217 closed, assigned to nobody

[2017-06-30 13:56] #212 closed, assigned to neoaero99

[2017-06-30 13:58] neoaero99 commented on #195
Vincent has added this functionality in the most recent release.

[2017-06-30 13:58] #195 closed, assigned to nobody

[2017-06-30 15:15] vtdrusch commented on #204
I have fixed my implementation of multiple line selection with the shift key, which you will find in the most recent build. Let me know if there are any changes or improvements that need to be made to this feature.

[2017-06-30 16:26] vtdrusch commented on #193
Macros have been fixed.

[2017-06-30 16:26] #193 closed, assigned to nobody

[2017-06-30 16:26] #176 closed, assigned to vtdrusch

[2017-06-30 16:27] #175 closed, assigned to vtdrusch

[2017-06-30 16:36] #112 closed, assigned to nobody

[2017-07-06 19:08] vtdrusch commented on #178
Camera select areas are now included in the most recent version of the software.

[2017-07-06 19:08] #178 closed, assigned to nobody

[2017-07-06 19:09] vtdrusch commented on #177
Added elements to existing instructions to allow for robot-camera interactions.

[2017-07-06 19:09] #177 closed, assigned to vtdrusch

[2017-07-06 19:10] vtdrusch commented on #15
Instructions corresponding to the robot's current position are now marked with the '@' symbol.

[2017-07-06 19:10] #15 closed, assigned to nobody

[2017-07-06 19:13] vtdrusch commented on #162
This bug should be resolved, but we can revisit the issue if it continues to happen.

[2017-07-06 19:13] #162 closed, assigned to nobody

[2017-07-06 20:43] vtdrusch commented on #203
I've implemented a function that will automatically write programs to text every time the program is saved. Each program is saved to a file called <program name>.txt in the same folder as the program save file ("tmp/robot#"). You should see this functionality in our next release; feel free to let us know if you need any adjustments made to this feature.

[2017-07-06 20:43] #203 closed, assigned to nobody

[2017-07-07 00:21] #204 closed, assigned to nobody

[2017-07-07 09:59] spsid13 opened #218 "the trace mark erase option"
So the the gluing I/O for example makes a trace when the program is run.. but now I want erase the trace and run the program again.

[2017-07-07 11:17] neoaero99 commented on #218
If you disable the trace with the button in the miscellaneous menu, then
the trace will be cleared.

On Jul 7, 2017 05:59, "spsid13" <notifications@github.com> wrote:

[2017-07-07 12:23] spsid13 commented on #218
No its not working..

On Fri, Jul 7, 2017 at 7:17 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-07-07 14:02] vtdrusch commented on #218
I'll take a look at this and let you know when I have a new release.

On Jul 7, 2017 8:24 AM, "spsid13" <notifications@github.com> wrote:

[2017-07-07 14:03] spsid13 commented on #218
Thanks Vince.

On Fri, Jul 7, 2017 at 10:02 AM, Vincent Druschke <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-07-07 18:58] vtdrusch commented on #165
I tested this issue again by running a program on loop for a good 30 minutes and didn't notice any problems, so I'm going to close this issue for now. I monitored memory use during this test and didn't notice a correlation between that and execution time, but I did notice that our program seems to hover at around 1GB, so it might be worth publishing some recommended/ minimum operating specs for ho

[2017-07-07 18:58] #165 closed, assigned to nobody

[2017-07-07 19:05] vtdrusch commented on #191
The equality operator (==) is meant to test the equality of floating point operands only, and so using boolean IO operands causes an evaluation error. I could extend the equality and inequality (!=) operators to test for boolean equality, but the preferred way of doing this currently is by using the logical AND (&&), OR (| |) and NOT (!) operators.

[2017-07-07 19:08] vtdrusch commented on #192
Boolean expression operands are now available when editing a register instruction which targets an IO register.

[2017-07-07 19:08] #192 closed, assigned to nobody

[2017-07-07 19:25] vtdrusch opened #219 "Content index is not set properly when returning to a prior screen"
For certain screens, it is possible that the user might move their cursor or otherwise modify the contents menu relevant to a prior screen. For example, when deleting program instructions, the user might delete instructions such that, when returning to the instruction navigation menu, their selected index is no longer valid. The user then has to press one of the arrow keys to force their selected

[2017-07-07 19:41] vtdrusch commented on #218
Could you describe how exactly you found this bug? To test the trace function, I just made a short program and enabled tracing through the misc. menu, but I haven't been able to reproduce the problem yet on the most recent build.

[2017-07-07 19:43] spsid13 commented on #218
so turn on the I/O for gluing make the robot move and turn the I/O off..
when you run this program it will leave a trace for the robots movements.
Now there isn't a way to get rid of that trace.

On Fri, Jul 7, 2017 at 3:41 PM, Vincent Druschke <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-07-07 19:44] spsid13 commented on #218
by turning on IO i mean write a program that says
IO[4] = ON
p1
p2
p3
IO[4] = Off

On Fri, Jul 7, 2017 at 3:42 PM, Siddharth Parmar <syparmar@mtu.edu> wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-07-07 20:05] vtdrusch commented on #218
I managed to clear the trace after running this program by clicking on the "Enable Trace" button in the miscellaneous menu, then pressing the same button again once the trace is enabled (it should then read "Disable Trace"). If this does not clear the trace for you, could you look in your I/O register menu and tell me if your I/O register was correctly set to OFF? Pressing the "Disable Trace" butt

[2017-07-07 21:58] spsid13 commented on #218
It worked with the I/O off. Also can you assign the F key for turning IO on
and off in the I/O menu.

Yaa, it would be great if you could add a clear trace button that is
independent of I/o being on/off. Please let me know when you update and
push a build with these two changes.

On Fri, Jul 7, 2017 at 4:05 PM, Vincent Druschke <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engi

[2017-07-07 22:50] vtdrusch commented on #218
I've implemented these features and will be uploading a new build with these changes in about an hour.

Turning the trace function on and off no longer clears the current trace, this must now be done explicitly by pressing the "Clear Trace" button that I've included in the miscellaneous menu. Pressing CTRL+F on your keyboard will now also toggle the state of the I/O register corresponding to your

[2017-07-07 22:50] #218 closed, assigned to nobody

[2017-07-07 22:57] vtdrusch commented on #49
The "PREV" button is now working correctly in most cases. Due to the fact that none of our screens currently require more than 5 functions, we have not implemented any functionality for the "NEXT" button. Since there are several buttons that we don't currently have a use for right now, I'm going to close this issue and open a new one pertaining to this.

[2017-07-07 22:57] #49 closed, assigned to nobody

[2017-07-07 22:58] vtdrusch opened #220 "Find functions for unused buttons on pendant"
We should try to come up with some functions for the currently unused buttons in our user interface.

[2017-07-07 22:59] vtdrusch commented on #220
#49

[2017-07-07 23:01] vtdrusch commented on #220
#49

[2017-07-07 23:12] vtdrusch opened #221 "Fix NOT (!) operator in expression evaluation"
The current expression evaluation model does not work with the logical NOT operator due to the fact that unary operations are not supported. Modifications should be made to the expression evaluator to allow for this.

[2017-07-07 23:57] vtdrusch commented on #221
Expressions with only one operand (i.e. simple assignment expressions like R[1] = 2.5) also fail to evaluate due to the fact that there are not enough expression elements to form a binary operation.

[2017-07-08 00:02] vtdrusch opened #222 "Camera object match fixes"
The robot camera is not recognizing valid objects that it has been taught in certain cases. I suspect that this is due to the fact that the objects I tested weren't registered in the object json file, and so were not given a proper ID number, but the camera should treat any objects that haven't been explicitly registered as unique objects belonging to separate part families.

[2017-07-09 16:19] neoaero99 commented on #191
The expression for my example has a size of one. It does not use the equals operator. The equals is the one pertaining the result element

[2017-07-09 16:20] neoaero99 commented on #191
Never mind that last comment.

[2017-07-09 16:21] neoaero99 commented on #191
And I see what you mean. That makes sense.

[2017-07-09 16:21] #191 closed, assigned to nobody

[2017-07-10 13:02] neoaero99 commented on #218
I probably should have mentioned this earlier, but Ctrl+P will toggle the state of the active end effector of the active robot. It has been implemented for some time.

[2017-07-10 13:58] neoaero99 commented on #196
I have updated undo, so that you can undo any type of change you make to the program. Although, there is still a limit as to how far back you can undo. Also, undo will group changes together for bulk insertions, deletions, or cut/copy/paste.

These changes have been integrated into the master branch, so they will be in the next release.

[2017-07-10 13:58] #196 closed, assigned to neoaero99

[2017-07-12 14:45] neoaero99 commented on #184
I have added this feature with the message system.

[2017-07-12 14:45] #184 closed, assigned to neoaero99

[2017-07-12 14:46] neoaero99 commented on #186
All frame point teaching methods prompt the user to press ENTER to teach the frame when all points are taught.

[2017-07-12 14:46] #186 closed, assigned to neoaero99

[2017-07-13 16:37] vtdrusch commented on #221
Modified expression evaluation to work with unary operators and assignment statements.

[2017-07-13 16:37] #221 closed, assigned to vtdrusch

[2017-07-14 12:28] neoaero99 commented on #69
A message display has been implemented and will appear in the next release.

[2017-07-14 12:28] #69 closed, assigned to neoaero99

[2017-07-14 17:10] neoaero99 opened #224 "Manual Function Macros"
The index used to identify the manual function to execute in the manual function macro menu is incorrect. Since, the list of macros includes both manual function and shift + user key macros, there needs to be a better way to map the macro selected in the manual function to the actual macro in the list of macros.

[2017-07-14 17:28] vtdrusch commented on #224
Fixed this.

[2017-07-14 17:28] #224 closed, assigned to nobody

[2017-07-14 18:39] neoaero99 opened #225 "Jump To Line Function"
I have noticed that the jump to line functionality for program instruction navigation does not actually jump to the line specified by the user.

[2017-07-14 19:03] neoaero99 commented on #225
This issue has been resolved on the branch current.

[2017-07-14 19:03] #225 closed, assigned to neoaero99

[2017-07-16 20:33] spsid13 opened #226 "I/O menu"
1) Hello, I think I mentioned this but in the menu shown in the image use the F keys to toggle the I/O. by F key I mean F1 F2 F3 F4 F5 you see on teach pendant. The menu looks very unfriendly as shown in the image. assign ON OFF to the F keys.
2) Let it be shown on the right if the I/O is on or off. where other things such as scenario coordinates frame etc. are present
![image](https://user-images

[2017-07-16 20:38] spsid13 opened #227 "no option to change the size of objects created"
The option to edit the size of the part  introduced still needs to be implemented as discussed earlier.

[2017-07-16 20:44] spsid13 opened #228 "Why are all the options to edit the fixtures removed?"
I can't delete a fixture from a scenario anymore. We also need an option to delete scenarios

[2017-07-16 22:54] neoaero99 commented on #228
The delete button and size change are in a subject of the edit menu

On Jul 16, 2017 16:44, "spsid13" <notifications@github.com> wrote:

[2017-07-16 22:54] neoaero99 commented on #228
Submenu not subject

On Jul 16, 2017 18:54, "Joshua Hooker" <jbhooker@mtu.edu> wrote:

[2017-07-16 22:55] neoaero99 commented on #228
Click the other button to view these options

On Jul 16, 2017 18:54, "Joshua Hooker" <jbhooker@mtu.edu> wrote:

[2017-07-16 23:14] neoaero99 commented on #227
What do you mean, you can edit the dimensions of any part or fixture you add to a scenario.

[2017-07-16 23:14] #227 closed, assigned to nobody

[2017-07-16 23:15] neoaero99 commented on #227
See #228.

[2017-07-16 23:19] neoaero99 commented on #228
![edit_wo](https://user-images.githubusercontent.com/14117158/28252148-af052356-6a5b-11e7-85ab-e29d0075b938.png)

[2017-07-16 23:23] neoaero99 commented on #226
Are you sure that information should be display on the righthand UI? That UI is already cluttered as is, adding anything else would be pushing it.

Also, what is wrong with this menu? It is really not that different from the other register menus.

Also, when are the I/O registers supposed to be bond to the function keys? You know that those are used by most menus, right?

[2017-07-17 22:16] spsid13 commented on #228
Cool Change the text of OTHER to EDIT.

On Sun, Jul 16, 2017 at 7:19 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-07-17 22:17] spsid13 commented on #226
Currently the I/O can be toggled ON and OFF using the ENTER key..
It is not intuitive.. if you assign ON OFF to the F keys it will be visible
and intuitive

On Sun, Jul 16, 2017 at 7:23 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-07-18 12:23] neoaero99 commented on #226
Ah, I thought you meant to bind each I/O register state to a function key, no that is easy enough.

[2017-07-18 15:53] neoaero99 commented on #226
The I/O menu has been updated on the branch, current.

[2017-07-18 15:53] #226 closed, assigned to neoaero99

[2017-07-18 15:53] #228 closed, assigned to neoaero99

[2017-07-20 18:53] neoaero99 commented on #180
Most of the conversion issues I have found have to deal with the conversion between euler angles and quaternions, or more accurately the conversion between rotation matrices and quaternions, since we removed the direct conversion between euler angles and quaternions. I have not had any trouble with conversions between euler angles and rotation matrices.

[2017-07-21 17:55] vtdrusch commented on #222
Camera object detection should now work as intended.

[2017-07-21 17:55] #222 closed, assigned to vtdrusch

[2017-07-25 18:51] neoaero99 opened #229 "Camera Position in World Frame"
I have found an issue with selecting objects in the scene. When I try to click on objects, the ray-collision does not identify an object that it should have. So, I am going to look into the problem.

[2017-07-26 17:34] neoaero99 commented on #229
So, I have found that the issue lies not with the ray-box collision, but with the calculation of the mouse click's position in the world frame. So, I plan to make some updates to the camera in order to fix this issue.

[2017-07-26 18:48] neoaero99 commented on #229
Changes to the camera have been pushed to the branch limbo.

[2017-07-26 18:48] #229 closed, assigned to neoaero99

[2017-07-28 16:09] neoaero99 opened #230 "Default Robot Camera Values"
It would be nice to include a way to reset the robot camera to its default settings.

[2017-07-28 16:12] neoaero99 opened #231 "Blank Instruction Editing"
For the pendant program instruction navigation screen, editing a blank instruction (F4 on the teach pendant) should function similar to overwriting the instruction (F2 on the teach pendant).

[2017-07-28 16:18] neoaero99 opened #232 "Expression Evaluation Issue"
Once again, there are issues with expression evaluation, which I have stumbled upon, when testing the NOT operator.

[2017-07-28 17:37] neoaero99 opened #233 "Sub Expression Editing"
There is an issue with how the options for operators is determined for sub expressions.

For example, I have a sub expression as the first element of a register expression. The first element in the sub expression is a data register operand, however, when I try to add an operator to the right of the data register operand, the only options I have are the logic operators (AND, OR, NOT).

[2017-07-31 01:33] vtdrusch commented on #232
I have re-worked expression evaluation to finally correctly deal with the NOT operator, as well as fixed an issue with operator options being incorrectly listed for two adjacent operators.

[2017-07-31 02:05] vtdrusch commented on #233
Thus far, I haven't been able to reproduce this behavior. The only situation in which it should be possible to see just the logic operators is in the case where the previous operand or sub-expression evaluates to a boolean type operand, and only for IO type register expressions and IF statements. I may have done something to fix this inadvertently while probing the NOT operator issue, but I'll lea

[2017-07-31 02:06] vtdrusch commented on #233
Also, there seems to be another issue with editing sub expressions related to the opEdit variable being incorrectly set, causing the wrong operand to be edited in some cases, or resulting in a null pointer error.

[2017-07-31 12:10] neoaero99 commented on #232
Alright, I probably should have updated this on Friday, but I believe I had already fixed expression evaluation, however, I wanted to test it further before finalizing this issue. In addition, the issue with expression evaluation is deeply rooted in some recent changes that you made Vincent, we can talk about it when you get in today.

[2017-08-02 16:24] vtdrusch commented on #233
Expression editing appears to be working again, closing this issue for now.

[2017-08-02 16:24] #233 closed, assigned to neoaero99

[2017-08-02 16:25] vtdrusch commented on #232
Expression evaluation has been re-worked again and should now work much more reliably.

[2017-08-02 16:25] #232 closed, assigned to neoaero99

[2017-08-13 19:07] spsid13 opened #235 "Textfield Indexing and Highlighting"
So when you try to edit the values of position of a new object created, by default it has some values 0.000
Now I am unable to use the mouse to highlight all of that text and delete it. It would be very user friendly if this is possible.

[2017-08-13 19:10] neoaero99 commented on #235
Unfortunately, I have no way to implement position selecting for textfields, due to issues with ControlP5 fonts.

On Aug 13, 2017 15:07, "spsid13" <notifications@github.com> wrote:

[2017-08-13 19:17] spsid13 opened #236 "World Object Copy/Paste"
Someway to enter multiple parts or multiple fixtures.

[2017-08-13 19:18] neoaero99 commented on #236
Of the same kind?

On Aug 13, 2017 15:17, "spsid13" <notifications@github.com> wrote:

[2017-08-13 19:18] spsid13 opened #237 "The new coloring option is cool but can we also have input value box."

[2017-08-13 19:25] spsid13 commented on #236
Yes

On Sun, Aug 13, 2017 at 3:18 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-13 20:11] spsid13 opened #238 "By default there is some part or fixture in the menu with the name WO."
Can we remove it?

[2017-08-13 20:11] neoaero99 commented on #238
What do you mean? You can have empty scenarios.

On Aug 13, 2017 16:11, "spsid13" <notifications@github.com> wrote:

[2017-08-13 20:19] spsid13 commented on #238
If I make any changes to the position values in the image below nothing on the screen changes because there is no such part in the environment. It is there in the software by default but does not physically exist in the environment. Kinda confusing for users.
![image](https://user-images.githubusercontent.com/17214301/29253096-fc990a72-8042-11e7-897d-7087e3368428.png)

[2017-08-13 20:31] spsid13 opened #239 "warning for missing input values while creating a part/fixture"
While creating a new part/fixture if a field is missing no part is created. User must get a warning message so he/she knows why no part is being created.

[2017-08-13 21:27] neoaero99 commented on #238
That is not a part nor a fixture: by default if no element is selected in a dropdown list, then the name of the dropdown list is displayed as the label for the dropdown list. That is name of that dropdown list.

On Aug 13, 2017 16:19, "spsid13" <notifications@github.com> wrote:

[2017-08-14 13:01] neoaero99 commented on #237
Why do you want textfield input; would that not be confusing having two inputs for the the same value?

[2017-08-14 13:05] neoaero99 commented on #239
Which field does not give a warning message?

[2017-08-14 13:13] neoaero99 commented on #238
Though, I can add messages for trying to confirm editing when no world object exists.

[2017-08-14 13:18] neoaero99 commented on #237
Also, if I include text fields for color input, then it would be easier for users to input incorrect values for color, since text fields accept any string of characters (which is part of the reason I used sliders).

[2017-08-14 13:23] neoaero99 commented on #236
So, if I include an input field for quantity, then that would suffice?

[2017-08-14 14:39] spsid13 commented on #236
Yes, It should.

On Mon, Aug 14, 2017 at 9:23 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-14 14:40] spsid13 commented on #237
Is it possible to have both and make them dependent.

On Mon, Aug 14, 2017 at 9:18 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-14 14:41] spsid13 commented on #237
Hold on, dont make this change. Lets discuss it over phone.

On Mon, Aug 14, 2017 at 10:39 AM, Siddharth Parmar <syparmar@mtu.edu> wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-14 14:51] spsid13 commented on #239
So if you forget to write the name while creating a part, and just press on
create. I did not see it show any warning. For this case, it would best if
a message box comes up or the warning is shown on the teach pendant.

On Mon, Aug 14, 2017 at 9:05 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-14 14:53] neoaero99 commented on #239
Ah, the name does not show a warning.

[2017-08-14 14:55] neoaero99 commented on #236
It is worth mentioning, that you can create multiple of the same object by clicking create repeatedly. I know can be tedious, however, that would only be the case for large volumes of parts or fixtures. So, I am just curious why you want to add large quantities of the same object.

[2017-08-14 15:20] spsid13 commented on #236
Just trying to give an option to the user to mention the quantity or any
other way to copy/paste a part or fixture created.

On Mon, Aug 14, 2017 at 10:55 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-14 15:21] neoaero99 commented on #236
I can add copy and pasting for world objects.

[2017-08-14 15:23] neoaero99 commented on #236
I am worried about adding in world objects in bulk, because complex objects in particular take up a lot of memory. I was able cause memory errors with loading in less than a hundred grinders, so giving users a faster method of adding in a lot of world objects may not be wise.

[2017-08-14 15:46] spsid13 commented on #236
That should do I suppose.

On Mon, Aug 14, 2017 at 11:21 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-15 12:26] neoaero99 commented on #237
When would you want to discuss this?

[2017-08-15 13:08] spsid13 commented on #237
Today, I will try to call you at lunch time around 1?

On Tue, Aug 15, 2017 at 8:26 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-15 13:11] neoaero99 commented on #237
Alright, talk o you then.

[2017-08-15 15:33] neoaero99 opened #240 "Restrict Sub Expression Nesting"
Despite the fact that the length of an expression is restricted, the user can still repeatedly nest sub expressions as much as they desire.

[2017-08-15 19:05] #237 closed, assigned to nobody

[2017-08-16 00:46] vtdrusch opened #241 "Object fixture reference not automatically set"
The part fixture reference appears to reset itself when navigating to the object edit window, necessitating re-setting the correct fixture reference every time the edit menu is closed and re-opened.

[2017-08-16 00:48] neoaero99 commented on #241
I believe I fixed that in the limbo branch, though I am not sure

On Aug 15, 2017 20:46, "Vincent Druschke" <notifications@github.com> wrote:

[2017-08-16 05:16] vtdrusch opened #242 "Robot keeps moving after shift is released on keyboard"
When using the keyboard to enable the pendant shift key, it is possible to get the robot stuck in motion by clicking on one of the jogging buttons using the mouse, then releasing the shift key.

[2017-08-16 11:29] neoaero99 commented on #242
This issue has been fixed on the branch, limbo (711e808)

On Aug 16, 2017 01:16, "Vincent Druschke" <notifications@github.com> wrote:

[2017-08-16 12:38] neoaero99 commented on #241
This issue has been fixed on the branch, limbo (93772bfe)

[2017-08-16 12:38] #241 closed, assigned to nobody

[2017-08-16 12:42] #242 closed, assigned to nobody

[2017-08-17 03:17] vtdrusch opened #243 "Call stack not cleared when executing new program"

[2017-08-18 20:51] spsid13 opened #244 "unable to copy and paste the IO lines in program"

[2017-08-19 12:55] neoaero99 commented on #243
This issue has been fixed both on master and the limbo branch (9ee3273)

[2017-08-19 12:55] #243 closed, assigned to neoaero99

[2017-08-19 12:57] neoaero99 commented on #239
More descrpitive messages have been added to the application on both limbo and master (b73242c)

[2017-08-19 12:57] #239 closed, assigned to neoaero99

[2017-08-19 13:04] neoaero99 commented on #238
Now the edit menu will hide all editing options, when no objcet is selected on both limbo and master branches (a704bee)

[2017-08-19 13:04] #238 closed, assigned to neoaero99

[2017-08-19 13:06] neoaero99 commented on #236
I added the move and copy function to the edit window (also I grouped the delete functio with these funcitons) on the branches limbo and master (0583ead)

[2017-08-19 13:06] #236 closed, assigned to neoaero99

[2017-08-19 15:35] spsid13 opened #245 "So the robot is colliding with itself."
I remember, Vince allowed more movement for the J5 axis. We need that range of motion but it shouldn't highlight as colliding with itself.
![image](https://user-images.githubusercontent.com/17214301/29488134-87430518-84d2-11e7-9392-f9bc291367bb.png)

[2017-08-19 15:40] neoaero99 commented on #245
Why should the collision not be shown? There are few ways, in which the robot can collide with itself. Most of which involve one of the robot's end effectors and one of its segments.

On Aug 19, 2017 11:35, "spsid13" <notifications@github.com> wrote:

[2017-08-20 00:47] spsid13 opened #246 "Has a button been implemented to move all objects to their default values for a scenario?"

[2017-08-20 00:50] spsid13 opened #247 "USER should know if IO is on or off"
I had previously requested for one more line on the right showing if the present End effector (IO) on the robot is on or OFF

[2017-08-20 00:59] spsid13 opened #248 "The IO button on teach pendant is still not functioning"
If I have an "object held" and I press the IO button The object should no longer be held because I/O is turned off.

[2017-08-20 01:02] neoaero99 commented on #246
Yes, it is in the positon submenu of the edit menu

On Aug 19, 2017 20:47, "spsid13" <notifications@github.com> wrote:

[2017-08-20 01:04] spsid13 commented on #246
That is for an individual object.
In the scenario tab, give an option that moves all objects at once to their default.

[2017-08-20 01:05] neoaero99 commented on #248
The I/O button has two functions:
When shift is on, it is a marco key bind.
When shift is off, then it changes the I/O state of the active end effector.

On Aug 19, 2017 20:59, "spsid13" <notifications@github.com> wrote:

If I have an "object held" and I press the IO button The object should no
longer be held because I/O is turned off.

—
You are receiving this because you are subscribed to this t

[2017-08-20 01:06] neoaero99 commented on #246
There are two buttons. One for individual objects and one is for all
objects.

On Aug 19, 2017 21:04, "spsid13" <notifications@github.com> wrote:

[2017-08-20 01:07] neoaero99 commented on #246
Restore Defaults functions for all objects.

On Aug 19, 2017 21:06, "Joshua Hooker" <jbhooker@mtu.edu> wrote:

[2017-08-20 01:12] spsid13 commented on #246
We should move the restore default to the Miscellaneous tab.

On Sat, Aug 19, 2017 at 9:07 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-20 01:15] spsid13 opened #249 "Object held is not working properly."
So I go to an object to hold it and then it picks it up. But after it has picked up the object, the robot moves it with a gap created between the end effector and object. There is definitely some issue with it. Sending video on email.

[2017-08-20 01:18] neoaero99 commented on #246
Why? Shouldn't it be with all the other UI elements that manipulate an
objects position and orientation?

On Aug 19, 2017 21:12, "spsid13" <notifications@github.com> wrote:

[2017-08-20 01:25] spsid13 commented on #246
I agree it should, but it doesn't seem intuitive. I suggest if we are
making overall changes to the scenario, we should use miscellaneous tab for
it. It will be very easy for users to use our default scenarios provided
with the software. If you put into EDIT tab there are a lot of clicks and
confusion.

On Sat, Aug 19, 2017 at 9:18 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth

[2017-08-20 01:37] neoaero99 commented on #246
I am not sure what you mean, but the difference in clicks to get from any menu to the edit-edit sub menu and the miscellaneous menu is at most one.

[2017-08-20 01:41] spsid13 commented on #246
I am Sorry. you are right. I assumed we have to select an object to see
that option.

On Sat, Aug 19, 2017 at 9:37 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-20 01:41] neoaero99 commented on #246
Don't worry about it. It is an odd ball button in that menu as it stands.

[2017-08-20 01:44] neoaero99 commented on #248
We could remove I/O as a macro key binding and give that to the function control button (which literally has no funciton as of now). Then the I/O button would always edit the active end effectors state.

[2017-08-20 01:44] neoaero99 commented on #247
Oh, that is doable.

[2017-08-20 01:45] spsid13 commented on #248
I agree with you.

On Sat, Aug 19, 2017 at 9:44 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-20 17:39] #246 closed, assigned to nobody

[2017-08-20 17:41] neoaero99 commented on #244
I am not sure if this was an issue, however, on the most recent build I have no trouble copying and pasting IO instructions in a program.

[2017-08-20 18:11] neoaero99 commented on #247
This issue has been resolved on the branch limbo (144ed4d).

[2017-08-20 18:11] #247 closed, assigned to nobody

[2017-08-20 18:11] neoaero99 commented on #248
This issue has been resolved on the branch limbo (b309bf6).

[2017-08-20 18:11] #248 closed, assigned to nobody

[2017-08-20 19:55] spsid13 opened #250 "PASTE does not work as per the given document"
I checked for POS ID.
When you paste the lines, it is supposed to retain all the position numbers but it doesn't do so.
Please correct it and check all others for right functioning as per the document shared earlier.

[2017-08-20 20:11] spsid13 opened #251 "What is the method to select multiple lines?"
I was under the impression we had shift working to do that.
So I want to copy from line 2-6.
I press enter when on line 2. scroll down to line 6. press Shift and select enter. Then lines 2-6 get selected.

Has any other way been implemented?

[2017-08-20 20:22] neoaero99 commented on #251
You must hold down shift to select multiple lines.

[2017-08-20 20:54] spsid13 commented on #251
But pressing SHIFT selects the lines not under the users control. What if i
want to select 2-6 lines?

On Sun, Aug 20, 2017 at 4:22 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-20 20:58] neoaero99 commented on #251
Select them one at a time

On Aug 20, 2017 16:54, "spsid13" <notifications@github.com> wrote:

[2017-08-20 21:00] spsid13 commented on #251
So, is it possible to do it the way I explained?

On Sun, Aug 20, 2017 at 4:58 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-20 21:07] neoaero99 commented on #251
I will talk to Vincent, since he implemented this.

On Aug 20, 2017 17:00, "spsid13" <notifications@github.com> wrote:

[2017-08-20 21:09] spsid13 opened #252 "Lets Give an option to name/label the TOOL and USER Frames"

[2017-08-20 21:29] spsid13 opened #253 "Robot speed does not update realtime"
In the earlier case, when the robot was in motion and user changed the speed while it's moving, the speed would update immediately and the robot moved with that speed. Now, the speed updates but the robot does not move with the updated speed.

[2017-08-20 21:32] spsid13 opened #254 "While creating a tool frame in six point method, let all six lines be visible at once"
There is so much space available. We should be able to see all 6 lines at once rather than scrolling after 3.

[2017-08-20 21:37] neoaero99 commented on #252
This already exists

On Aug 20, 2017 17:09, "spsid13" <notifications@github.com> wrote:

[2017-08-20 21:37] neoaero99 commented on #253
Do you mean for jogging? Or motion instructions?

On Aug 20, 2017 17:29, "spsid13" <notifications@github.com> wrote:

[2017-08-20 21:38] spsid13 commented on #252
Where?
I can't see it.

[2017-08-20 21:38] neoaero99 commented on #252
You can give a frame a name when looking at a frames details.

On Aug 20, 2017 17:36, "Joshua Hooker" <jbhooker@mtu.edu> wrote:

[2017-08-20 21:40] spsid13 commented on #252
So, the names should be visible on the main TOOL FRAME Screen. And after I have renamed it, where can I see the name?

[2017-08-20 21:41] neoaero99 commented on #252
I dunno, you never specified what to do with the names, so they are
relatively useless right now.

On Sun, Aug 20, 2017 at 5:40 PM, spsid13 <notifications@github.com> wrote:

[2017-08-20 21:43] spsid13 commented on #252
Lol. I remember discussing that we should have the names on the front list for both user and tool frame menus. No point of having the name otherwise.

[2017-08-20 21:45] spsid13 commented on #253
So when the user is creating a tool frame and records a point. He then
presses move to. That is when it fails to move with updated speed while in
motion.

On Sun, Aug 20, 2017 at 5:37 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-20 21:46] neoaero99 commented on #253
You mean for teaching, then?

On Sun, Aug 20, 2017 at 5:45 PM, spsid13 <notifications@github.com> wrote:

[2017-08-20 21:48] neoaero99 commented on #253
When teaching, if you specify the move to for a point, then you are
effectively running a joint motion instruciton. However, the speed of the
movement is defined when you begin the motion.

On Sun, Aug 20, 2017 at 5:46 PM, Joshua Hooker <jbhooker@mtu.edu> wrote:

[2017-08-20 21:49] spsid13 commented on #253
No, after it is taught.
So, record a point. Move the robot far away from that point. Press
Shift+Move to with the speed at 5%.
While it's moving, change the speed to 50%. The robot should move with 50%.
It doesn't.

On Sun, Aug 20, 2017 at 5:46 PM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-20 21:54] neoaero99 commented on #249
This issue has been resolved in the branch limbo (144ed4dc)

[2017-08-20 21:54] #249 closed, assigned to neoaero99

[2017-08-20 21:55] spsid13 opened #255 "Tool Frame 6 point method seems to have been broken."
Try to use 6 point method to create a tool frame, Record the Orient Origin, X direction, and Y Direction points. The coordinates created at the tool tip do not match these.

[2017-08-20 21:56] neoaero99 commented on #255
What do you mean?

[2017-08-20 21:57] spsid13 commented on #255
The coordinate axis that is visible showing the tool X direction, tool y direction does not match the directions taught.

[2017-08-20 21:59] spsid13 commented on #255
[tmp.zip](https://github.com/skuhl/RobotRun/files/1237379/tmp.zip)
Use the temp folder and see the first tool frame created.
Use the pointer tool for this frame.

[2017-08-20 21:59] spsid13 commented on #255
Use the temp folder and see the first tool frame created.

[2017-08-20 22:06] spsid13 commented on #255
![image](https://user-images.githubusercontent.com/17214301/29498869-57191e76-85d2-11e7-9762-71c1d85c5c7f.png)

[2017-08-21 14:50] neoaero99 commented on #252
So, you only want the names to visible for the frame navigation menus?

[2017-08-24 00:11] spsid13 commented on #252
yes, the user should be able to address the frames by a name

On Mon, Aug 21, 2017 at 10:50 AM, Joshua Hooker <notifications@github.com>
wrote:

--
Siddharth Parmar
Mechanical Engineer
248-516-9390

[2017-08-24 00:17] spsid13 opened #256 "Intel Graphics 630 OpenGL ES Error"
![image](https://user-images.githubusercontent.com/17214301/29643878-fe5ca44a-883f-11e7-93e8-550099a232f5.png)

[2017-08-24 00:19] neoaero99 commented on #256
What OS does your computer have?

On Wed, Aug 23, 2017 at 8:17 PM, spsid13 <notifications@github.com> wrote:

[2017-08-24 00:56] spsid13 commented on #256
windows 10

[2017-08-24 12:24] neoaero99 commented on #256
I would make sure your video graphics drivers for that computer are up to date.

[2017-08-25 23:16] vtdrusch commented on #240
I've added a limiter on the "depth" of a given sub-expression. Users will no longer be given the option of setting the current operand to be a sub-expression if the depth of the expression to which that operand belongs to is 4 or higher.

[2017-08-25 23:16] #240 closed, assigned to nobody

[2017-08-28 13:18] neoaero99 opened #257 "Camera Taught Object Preview"
I taught a grinder part to the camera and the preview was not quite right:
![camera_preview_issue_1](https://user-images.githubusercontent.com/14117158/29775030-b0f63a14-8bd1-11e7-8727-b47c33e90442.png)

I also tried to teach a circsheet part and got a different result:
![camera_preview_issue_2](https://user-images.githubusercontent.com/14117158/29775036-b3d4ff72-8bd1-11e7-9ba0-f987a23f7d0b.png)

[2017-08-29 12:33] neoaero99 commented on #252
Frame names are shown in the frame navigation menus and the program instruciton navigation menu (8bfbf5b). These changes exist as of the 1.2.4 release.

[2017-08-29 12:33] #252 closed, assigned to neoaero99

[2017-08-29 12:36] neoaero99 commented on #253
For frame point teaching methods and position register move to functions, the speed of the robot's motion can be changed, while the robot is moving (5e654351). These changes exist as of the 1.2.4 release.

[2017-08-29 12:36] #253 closed, assigned to neoaero99

[2017-08-29 12:39] neoaero99 commented on #254
The margins on select menus, including the frame point teaching method menus have been reduced (bfcad2ad). These changes exist as of the 1.2.4 release.

[2017-08-29 12:39] #254 closed, assigned to neoaero99

[2017-08-29 12:41] neoaero99 commented on #255
The tool frame 6 point method has been modified to take the robot's current orientation into account when teaching the frame (a3200dc). These changes exist as of the 1.2.4 release.

[2017-08-29 12:41] #255 closed, assigned to neoaero99

[2017-08-29 12:44] neoaero99 commented on #250
I fixed the Pos ID and Position paste options, though, I am not entirely sure how the Rm Pos ID differs from R Pos ID, so that option may not work correctly.

[2017-08-29 12:53] neoaero99 commented on #244
I have tried multiple cases for copying and pasting I/O instructions, however, I have had no issues, so I will close this issue for now. If the issue comes up again, then please include some more details about the issue.

[2017-08-29 12:53] #244 closed, assigned to nobody

[2017-08-29 13:04] neoaero99 commented on #245
More importantly, the bounding boxes exist partially to show when objects collide in the scene: this includes the robotic arms. If you have a reason for this, then reopen this issue, so we can discuss it.

[2017-08-29 13:04] #245 closed, assigned to nobody

[2017-08-29 13:16] neoaero99 commented on #256
What type is your processor (32-bit or 64-bit)?
What key of graphics card do you have?

[2017-08-29 13:29] neoaero99 commented on #256
I found an [issue](https://github.com/processing/processing/issues/4802) on Processing's Github page that may be relevant.

[2017-08-29 14:45] neoaero99 commented on #235
I somehow found a solution for textfield indexing, so I will now look into textfield highlighting.

[2017-08-29 23:02] vtdrusch commented on #251
I see what you mean about multiple line select; when I originally implemented this, I had thought you wanted to be able to select a page of lines at a time by pressing shift+up/down arrow, and this is how the feature was implemented, but this only allows you to toggle your selection of either one or 8 lines at a time.

I've decided to remove this particular implementation, so pressing shift+up/dow

[2017-08-29 23:02] #251 closed, assigned to nobody

[2017-08-29 23:03] vtdrusch commented on #257
I found what was causing this issue: a missing pair of parentheses. I've pushed a fix that should repair this scaling issue for camera objects.

[2017-08-29 23:03] #257 closed, assigned to nobody

[2017-08-29 23:13] vtdrusch commented on #231
I've added a case in the edit screen logic that transitions to the select instruction screen if the currently selected instruction does not match any of the instruction subtypes that we check for when editing an instruction, but this could potentially cause unintended behavior if we don't check for every subclass of Instruction when editing an instruction in the program.

[2017-08-29 23:49] vtdrusch commented on #230
I've added a camera reset button to re-position the camera above and looking down at the robotic arm.

[2017-08-29 23:49] #230 closed, assigned to nobody

[2017-08-30 13:54] neoaero99 commented on #231
I have a solution for that: We can make the Instruction class abstract add a BlankInstruction class, which functions as our current Instruction class does, so we should not have any inheritance problems.

[2017-08-30 14:46] neoaero99 commented on #231
I have implemented the solution specified above, so we should not run into any issues with new instructions and editing.

[2017-08-30 14:46] #231 closed, assigned to neoaero99

[2017-08-31 16:53] vtdrusch commented on #250
We're reviewing the RM Pos ID copy option, and just wanted some clarification: when pasting using this option, should IO instructions be re-ordered at all? For example, if I have a motion instruction and an IO instruction, like so:

1)   L  P[1]  200mm/s  FINE
2)   IO[1] = ON
3)   J  P[2]  20%  FINE

Should this be pasted as:

4)   L P[2]  200mm/s  FINE
5)   IO[1] = ON
6)   J  P[1]  20%  FINE

or

[2017-10-10 03:20] neoaero99 commented on #256
This issue seems to be related to the graphics hardware or software. Here is a link to a thread describing a similar problem:
[https://intel-openport-v7.hosted.jivesoftware.com/thread/110921?start=30&tstart=0](https://intel-openport-v7.hosted.jivesoftware.com/thread/110921?start=30&tstart=0)

[2017-10-19 10:02] nickderonde opened #258 "Can't get Robotrun Running"
Hi Guys,

I've downloaded the last version of robotRun, but can't get it started.
The pdf guide says to run RobotRun.exe on windows and RobotRun on Linux/mac.
On mac there starts a blank screen with nothing and on windows there is no .exe file.
Can you help me out?

I use jar launcher 15.0.1 on mac os High Sierra.
Also have a windows 10 machine

I hope to hear from you

Kind regards,

Nick

[2017-10-19 10:31] neoaero99 commented on #258
Did you unzip the file?

On Oct 19, 2017 06:02, "Nick de Ronde" <notifications@github.com> wrote:

[2017-10-19 10:36] neoaero99 commented on #258
Also, do you remember how long you waited for the blank screen? The program
takes a second or two to startup.

On Oct 19, 2017 06:31, "Joshua Hooker" <jbhooker@mtu.edu> wrote:

[2017-10-19 12:41] neoaero99 commented on #258
As for the user guide, since we ported the project over to Eclipse, the executable is RobotRun.java regardless of what OS you are using, so the user guide is wrong. Thank you for pointing that out.

[2017-10-19 12:47] neoaero99 commented on #235
As of the lastest release, text indexing has been corrected and text highlighting functionality for textfields exists.

[2017-10-19 12:47] #235 closed, assigned to neoaero99

[2017-10-19 13:09] nickderonde commented on #258
Thnx for the fast reply, yeah did unzip it.
The screen on mac stays blank for more than 15 min (started the RobotRun.java file)

➜  RobotRun java -jar RobotRun.jar
ControlP5 2.2.5 infos, comments, questions at http://www.sojamo.de/libraries/controlP5
Missing data subfolder!
java.lang.NullPointerException
	at core.RobotRun.setup(RobotRun.java:3300)
	at processing.core.PApplet.handleDraw(PApplet.jav

[2017-10-19 13:22] neoaero99 commented on #258
Ah, that is what I thought. I have updated the 1.2.5 release. If you download it again you should not get that error.

If you have any other problems look through the issues and comment or post a new issue, if you have any.

[2017-10-19 14:14] nickderonde commented on #258
Thanks, downloaded the updated version from the master branch.
But there is no RobotRun.jar file anymore how can I start it?

[2017-10-19 14:21] neoaero99 commented on #258
Did you clone the branch? You have to download the RobotRun package from
the releases on Github in order to get the jar file.

If you clone the master branch, then you will get the source code and you
would need the Eclipse IDE to run it in that case.

On Oct 19, 2017 10:14, "Nick de Ronde" <notifications@github.com> wrote:

[2017-10-19 14:43] nickderonde commented on #258
Yeah i did clone the brach, now downloaded the release and it works thnx!

[2017-10-19 14:43] #258 closed, assigned to nobody

[2017-10-19 14:49] neoaero99 commented on #258
You are welcome.

On Oct 19, 2017 10:43, "Nick de Ronde" <notifications@github.com> wrote:

[2017-10-24 01:56] spsid13 opened #259 "Shift+ovr pt"
When the user moves the cursor to a line L P[2] 500mm/s Fine and clicks shift + over pt, then the @ symbol should get updated in front of the line.Currently, the @ symbol only updates when one runs the program. But it should also update if the user is overwriting it.

[2017-10-24 02:06] spsid13 opened #260 "Position register record"
So whenever I try to record a position register, it records the register in JOINT values.
Let's make Cartesian default because that is used the most.

[2017-10-24 02:08] neoaero99 commented on #260
It should be recorded based on the robot's active frame

On Oct 23, 2017 22:06, "spsid13" <notifications@github.com> wrote:

[2017-10-24 02:09] spsid13 commented on #260
Active frame was world, but it still doesn't work. Even I was surprised because you had it working earlier.

[2017-10-24 02:31] neoaero99 commented on #259
This issue has been resolved in the master branch.

[2017-10-24 02:31] #259 closed, assigned to nobody

[2017-10-24 02:31] neoaero99 commented on #260
This issue has been resolved in the master branch.

[2017-10-24 02:31] #260 closed, assigned to nobody

[2017-10-24 02:51] spsid13 commented on #250
Hi Vince,
Sorry, seeing this now. Is it possible for you to check on the actual robot. I think it works like the first option but not very sure of it.

[2017-10-24 02:52] spsid13 commented on #180
The funniest issue title. hahaha Clear frustration over euler angles.

[2017-10-24 23:54] spsid13 opened #261 "+J3 and -J3 motion seem to be reversed"
+J3  should move the robot up rather its moving down

[2017-10-25 00:37] neoaero99 commented on #261
Are you serious? The direction of motion for the joints is arbitrary.

[2017-11-06 02:05] spsid13 commented on #261
Not really. Try checking actual teach pendant.

[2017-11-27 00:36] vtdrusch commented on #256
I'm going to close this issue, since I don't think there's anything that can be done on our end to fix it. Make sure your software/ drivers are up to date and if the problem persists, we can try to find a workaround.

[2017-11-27 00:36] #256 closed, assigned to nobody

[2017-12-16 00:35] neoaero99 commented on #261
The 3rd joint motion has been reversed in version 1.2.7

[2017-12-16 00:35] #261 closed, assigned to nobody

[2018-05-10 14:22] BinaryFissionGames opened #262 "Objects placed in reference to a fixture don't work with vision system."
When a world object is created, it may be placed with reference to a fixture. However, the camera does not seem to properly detect when it is in the viewing frustum of the camera if it is placed with reference to a fixture.

The probable cause is that the camera is trying to look at some referential coordinates for the given object, as opposed to world coordinates, leading to a mismatch in their r

[2018-05-10 15:35] BinaryFissionGames commented on #262
Fixed [here](https://github.com/skuhl/RobotRun/commit/988e14dabfd345c41b69aa8095fcf6af0670b339).

[2018-05-10 15:35] #262 closed, assigned to nobody

[2021-10-22 18:21] iuhhf opened #263 "installation issue"
can you help me with the error i am having on my laptop. when i run the file java provides a error file which is attached
[hs_err_pid18156.log](https://github.com/skuhl/RobotRun/files/7400627/hs_err_pid18156.log)
[hs_err_pid4440.log](https://github.com/skuhl/RobotRun/files/7400628/hs_err_pid4440.log)
.